{% set pages_range = range(1, paginator.num_pages+1) %}

{% if paginator.num_pages > 1 %}
<div class="pagination">
    <ul>
    {% for page_number in pages_range %}
        {% set first = (page_number - 1) * paginator.per_page + 1 %}
        {% set last = min(page_number*paginator.per_page, paginator.count) %}
        <li{% if page.number == page_number %} class="active"{% endif %}>
            <a href="{{ get_page_url(page_number) }}" class="page">{{ first }}{% if first != last %}-{{ last }}{% endif %}</a>
        </li>
    {% endfor %}
    {% if paginator.count < total %}
        <li><a href="#search" rel="tooltip" title="{{ _('Use filtering to restrict the number of results') }}">...</a></li>
    {% endif %}
        <li class="special"><strong>{{ _('of') }}&nbsp;&nbsp;{{ total }}</strong></li>
    </ul>
</div>
{% endif %}
