{% extends 'mails/base.html' %}

{% block body %}
<p>{{ _('Welcome to nadaje.com') }}</p>
<p>{{ _('To complete your registration please visit <a href="%(token)s">%(token)s</a>') | format(token=token) | safe }}</p>
{% endblock %}