{% extends 'stations/base.html' %}
{% from 'stations/macros.html' import stations_list with context %}

{% if typ == 'FM' %}
    {% set active_page = 'fm' %}
{% elif typ == 'INET' %}
    {% set active_page = 'internet' %}
{% elif typ == 'DAB' %}
    {% set active_page = 'digital' %}
{% endif %}

{% block title %}
    {% if typ == 'FM' %}
{{ _('Polish radio stations live broadcast in internet') }} | nadaje.com
    {% elif typ == 'INET' %}
Katalog rozgłośni internetowych | nadaje.com
    {% elif typ == 'DAB' %}
Katalog rozgłośni cyfrowych | nadaje.com
    {% endif %}
{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#stations-container'));
            },
            success: function(response) {
                $('#stations-container').after(utils.filterHtml(response, '#stations-container')).remove();
            }
        }).find('button').hide();
    });
</script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flashblock.css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/soundmanager2-jsmin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/inlineplayer.js"></script>
{% endblock %}

{% block body_class %}{{ super() }} stations{% endblock %}

{% block breadcrumbs %}
<li class="active">{{ _('Stations') }}</li>
{% endblock %}

{% block content %}
<div class="block-header">
    <h2>
        {% if typ == 'FM' %}{{ _('FM stations list') }}{% elif typ == 'DAB' %}{{ _('Digital stations list') }}{% else %}{{ _('Internet stations list') }}{% endif %} {% if genre %}| {{ genre }}{% endif %}
    </h2>
    <div class="header-form hidden-phone">
        <form action="{{ request.get_full_path() }}" class="form-search form-inline pull-right" id="filter" method="get">
            <input type="hidden" name="request_marker" value="mark" />
            <label for="id_query" class="control-label ">&nbsp;</label>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search icon-white">&nbsp;</i></span>
                <input type="text" id="id_query" name="query" placeholder="{{ _('filter by station name') }}">
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i> {{ _('Apply Filter') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="column-block-content" id="stations-container">
    {{ stations_list(stations) }}
</div>
{% endblock %}