{% macro fav_stations_list(stations) %}
<div class="stations">
{% if stations %}
    {% for station in stations %}
        {% with station=station.get_subtype_instance() %}
    <div class="row">
        <div class="span4">
            <div class="station-row">
                <a class="pull-left" href="{{ reverse('radio-stations:station-details', args=[station.pk]) }}">
                    {% if station.logo %}
                    <img src="{{ station.logo.get_absolute_url('frontend-thumbnail') }}" alt="{{ station }} logo" class="img-rounded"/>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/no-logo.png" alt="{{ station }} logo" class="img-rounded"/>
                    {% endif %}
                </a>
                <h4>
                    <a href="{{ reverse('radio-stations:station-details', args=[station.pk]) }}" class="station-link">{{ station }}</a>
                </h4>
                <form action="{{ reverse('radio-stations:station-remove-from-fav', args=[station.pk]) }}" method="post" class="pull-right">
                    <input type="hidden" value="{{ request.get_full_path() }}" name="redirect_to">
                    <button type="submit" class="close">×</button>
                </form>
            </div>
        </div>
    </div>
        {% endwith %}
    {% endfor %}
{% else %}
    <p class="no-items">
        {{ _('You currently have no favourite station.') }}
    </p>
{% endif %}
</div>
{% endmacro %}

{% macro my_stations_list(stations) %}
<div class="stations">
{% if stations %}
    {% for station in stations %}
        {% with station=station.get_subtype_instance() %}
    <div class="row">
        <div class="span4">
            <div class="station-row">
                <a class="pull-left" href="{{ reverse('radio-stations:station-details', args=[station.pk]) }}">
                    {% if station.logo %}
                    <img src="{{ station.logo.get_absolute_url('frontend-thumbnail') }}" alt="{{ station }} logo" class="img-rounded"/>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/no-logo.png" alt="{{ station }} logo" class="img-rounded"/>
                    {% endif %}
                </a>
                <h4>
                    <a href="{{ reverse('radio-stations:station-details', args=[station.pk]) }}" class="station-link">{{ station }}</a>
                </h4>
                <a class="with-icon btn btn-primary pull-right" href="{{ reverse('radio-stations:station-edit', args=[station.pk]) }}"><i class="icon-edit icon-white"></i>{{ _('Edit') }}</a>
            </div>
        </div>
    </div>
        {% endwith %}
    {% endfor %}
{% else %}
    <p class="no-items">
        {{ _('You have not added any station yet. <a href="%(station_add_url)s">Add station to catalogue</a>') | format(station_add_url=reverse('radio-stations:station-add')) | safe }}
    </p>
{% endif %}
</div>
{% endmacro %}

{% macro stations_list(stations, show_country=False) %}
    {% set stations_sorting=get_sorting(stations, request, ['name'], ['name']) %}
    {% set stations_pagination=get_pagination(stations_sorting.sort(), request, paginate_by=20, results_limit=100) %}
    {% if stations %}
<div class="stations">
            {% for station in stations_pagination.paginate() %}
                {% with station=station.get_subtype_instance() %}
    <div class="row">
        <div class="span8">
            <div class="station-row">
                <a class="pull-left" href="{{ reverse('radio-stations:station-details', args=[station.pk]) }}">
                    {% if station.logo %}
                    <img src="{{ station.logo.get_absolute_url('frontend-thumbnail') }}" alt="{{ station }} logo" class="img-rounded"/>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/no-logo.png" alt="{{ station }} logo" class="img-rounded"/>
                    {% endif %}
                </a>
                <h4>
                    {% if filter_form and filter_form.is_valid() %}
                <a href="{{ reverse('radio-stations:station-details', args=[station.pk]) }}" class="station-link">{{ station.name | substring_marker(filter_form.cleaned_data.get('query','')) }}{% if show_country %} | {{ station.get_country_display() }}{% endif %}</a>
                    {% else %}
                <a href="{{ reverse('radio-stations:station-details', args=[station.pk]) }}" class="station-link">{{ station.name }}{% if show_country %} | {{ station.get_country_display() }}{% endif %}</a>
                    {% endif %}
                </h4>
                    {% if request.user %}
                        {% if not request.user.profile.stations.filter(pk=station.pk).exists() %}
                <form class="form-horizontal wide pull-right" method="post" action="{{ reverse('radio-stations:station-add-to-fav', args=[station.pk]) }}">
                    <input type="hidden" value="{{ request.get_full_path() }}" name="redirect_to">
                    <button type="submit" class="btn btn-primary with-icon" ><i class="icon-heart icon-2x icon-white"></i> {{ _('Add to favourites') }}</button>
                </form>
                        {% endif %}
                    {% endif %}
    {% if LANGUAGE_CODE == 'pl' %}
                <p class="help-block hidden-phone">{{ station.description | truncate(80) | safe }}</p>
    {% endif %}
            </div>
        </div>
    </div>
                {% endwith %}
            {% endfor %}
</div>
{{ stations_pagination.pagination() }}
    {% else %}
<p class="no-items">
    {{ _('Stations not found.') }}
</p>
    {% endif %}
{% endmacro %}