{% extends 'stations/base.html' %}
{% from 'bootstrap/macros.html' import form_actions %}
{% from 'admin/macros.html' import inline_formset %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'settings', 'inlineFormset'], function($, settings) {
        $(function() {
            $('.formset.url').inlineFormset({
                required: true,
                initFormsNum: 1
            });
        });
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<li class="active">{{ _('Add station') }}</li>
{% endblock %}

{% block content %}
<div class="block-header">
    <h3>{{ _('Add radio station') }}</h3>
</div>
<div class="column-block-content">
    <div class="content">
        <form class="form-horizontal wide" autocomplete="off" method="post" enctype="multipart/form-data">
            {{ csrftoken() }}
            {{ station_form | bootstrap.form(
                (_('Station info'), ['name', 'description', 'genres', 'www', 'email'])
            ) }}
            {{ image_form | bootstrap.form() }}
            <legend>{{ _('Streams') }}</legend>
            {{ inline_formset(formset, '', ['url']) }}
            <div class="control-group">
                <p class="alert">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ _('During station save process we check for valid audio streams. It may take few minutes.') }}
                </p>
            </div>
            {{ form_actions(cancel_url=cancel_url, label=_('Add station')) }}
        </form>
    </div>
</div>
{% endblock %}