{% extends 'stations/base.html' %}
{% from 'stations/macros.html' import stations_list with context %}

{% block title %}Grupy radiowe | nadaje.com{% endblock %}

{% set active_page = 'fm' %}

{% block body_class %}{{ super() }} stations{% endblock %}

{% block breadcrumbs %}
<li class="active">{{ _('Station groups') }}</li>
{% endblock %}

{% block content %}
<div class="block-header">
    <h2>
        {{ _('Station groups') }}
    </h2>
</div>
<div class="column-block-content" id="stations-container">
    <div class="row">
        <div class="span8">
            <div class="content">
                <table class="table stations">
                    <thead>
                        <tr>
                            <th>{{ _('Name') }}</th>
                            <th class="last">{{ _('Stations count') }}</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for group in groups %}
                        <tr>
                            <td>
                                <a href="{{ reverse('radio-stations:radio-group-details', args=[group[1]]) }}">{{ group[0] }}</a>
                            </td>
                            <td class="last">
                                {{ group[2] }}
                            </td>
                        </tr>
    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}