{% extends 'base.html' %}

{% block extra_head %}
<script src="http://jwpsrv.com/library/199OBLNdEeO6gyIACmOLpg.js"></script>
{# <script type="text/javascript" src="http://player.nadaje.com/static/sm2/soundmanager2-jsmin.js"></script> #}
<link rel="stylesheet" type="text/css" href="http://player.nadaje.com/static/sm2/skins/minimalist.css">
{% endblock %}

{% block body_class %}{{ super() }} stations player {% endblock %}

{% block body %}
{# <div id="sm2-container">
    <!-- SM2 flash goes here -->
</div>
#}
<div class="container" id="main-column">
    <div class="row">
        <div class="span12">
            <div class="main-container">
                <h1><a href="{{ reverse('home-page') }}"><img src="{{ STATIC_URL }}img/logo.png" alt="Radio internetowe online - Nadaje.com" /></a></h1>
                <div class="block-header">
                    <h1>
                        {{ station.name }}
                    </h1>
                </div>
                <div class="column-block-content">
                    <div class="row">
                        <div class="span6">
                            <div class="station-logo">
                                <div class="content">
    {% if station.logo %}
                                <img src="{{ station.logo.get_absolute_url('station_logo') }}" alt="{{ station }} logo" class="img-rounded"/>
    {% else %}
                                <img src="{{ STATIC_URL }}img/no-logo.png" alt="{{ station }} logo" class="img-rounded"/>
    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="content">
                                <div id='playeritgRHLGxzgnD'></div>
                                <script type='text/javascript'>
                                    jwplayer('playeritgRHLGxzgnD').setup({
                                        file: '{{ playing.get_stream_url() }}',
                                        type: '{{ playing.codec|default("mp3") }}',
                                        image: '//www.longtailvideo.com/content/images/jw-player/lWMJeVvV-876.jpg',
                                        width: '100%',
                                        height: '30',
                                        autostart: 'true'
                                    });
                                </script>
                                {# <script type="text/javascript">
                                    // ustaw soundmanagera
                                    soundManager.setup({
                                        flashVersion: 9,
                                        preferFlash: false,
                                        url: 'http://player.nadaje.com/static/sm2/soundmanager2.swf',
                                        autoPlay: true
                                    });
                                    soundManager.onready(function() {
                                        var that = this;
                                        that.volume = 50;
                                        that.player = $('.sm2-player');
                                        that.sm2Link = that.player.find('.sm2_link');
                                        that.volumeUp = that.player.find('.volume-up');
                                        that.volumeDown = that.player.find('.volume-down');
                                        that.sound = soundManager.createSound({
                                            id: that.player.attr('id'),
                                            url: that.sm2Link.attr('href'),
                                            autoPlay: true,
                                            onload: function() {
                                                that.sm2Link.parent('span').toggleClass('play').toggleClass('playing');
                                            }
                                        });
                                        that.sm2Link.bind('click', function(e) {
                                            e.preventDefault();
                                            if (that.sound.playState === 0) {
                                                that.sound.play();
                                                that.sm2Link.parent('span').toggleClass('play').toggleClass('playing');
                                            } else {
                                                that.sound.stop();
                                                that.sm2Link.parent('span').toggleClass('playing').toggleClass('play');
                                            }
                                        });
                                        that.volumeUp.click(function() {
                                            if (that.volume < 100) {
                                                that.volume += 10;
                                                that.sound.setVolume(that.volume);
                                            }
                                        });
                                        that.volumeDown.click(function() {
                                            if (that.volume > 0) {
                                                that.volume -= 10;
                                                that.sound.setVolume(that.volume);
                                            }
                                        });
                                    });

                                </script>
                                <div id="sound_id" class="sm2-player">
                                    <ul class="sm2-controls">
                                        <li><span class="play"><a class="sm2_link" href="{{ playing.get_stream_url() }}">&nbsp;</a></span></li>
                                        <li><span class="volume-down"></span></li>
                                        <li><span class="volume-up"></span></li>
                                        <li class="pull-right"><a class="playlist" href="{{ reverse('radio-stations:stream', args=[playing.pk]) }}">.m3u</a></li>
                                    </ul>
                                </div>
                                #}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-header">
                    <h3>
                        {{ _('Other streams') }}
                    </h3>
                </div>
                <div class="column-block-content">
                    <div class="row">
                        <div class="span12">
                            <div class="content">
                                <ul class="other-streams">
    {% for stream in station.get_streams() %}
        {% with stream = stream.get_subtype_instance() %}
            {% if stream.browser_playable %}
                                    <li>
                                        <a href="{{ reverse('radio-stations:player', args=[station.pk, stream.pk]) }}">{{ stream }}</a>
                                    </li>
            {% endif %}
        {% endwith %}
    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
