{% extends 'stations/base.html' %}

{% set active_page = 'fm' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flashblock.css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/soundmanager2-jsmin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/inlineplayer.js"></script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ reverse('radio-stations:radio-group-index') }}">{{ _('Station groups') }}</a> <span class="divider">/</span></li>
<li class="active">{{ group.name }}</li>
{% endblock %}

{% block body_class %}{{ super() }} stations details{% endblock %}

{% block content %}
<div class="block-header">
    <h2>{{ group.name }}</h2>
</div>
<div class="column-block-content">
    <div class="row">
        <div class="span8">
            <div class="content">
    {% if group.description %}
                <p>
                    {{ group.description }}
                </p>
    {% else %}
                <p class="no-items">
                    {{ _('Currently there is no additional information about this group.') }}
                </p>
    {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="block-header">
    <h3>{{ _('Stations') }}</h3>
</div>
<div class="column-block-content" id="stations-container">
    {{ stations_list(group.stations.filter(public=True)) }}
</div>
{% endblock %}
