{% extends 'stations/base.html' %}
{% from 'bootstrap/macros.html' import detail %}
{% from 'admin/macros.html' import empty_label %}

{% if station.country == 'PL' %}
    {% if station.typ == 'FM' %}
        {% set active_page = 'fm' %}
    {% elif station.typ == 'DAB' %}
        {% set active_page = 'digital' %}
    {% else %}
        {% set active_page = 'internet' %}
    {% endif %}
{% else %}
    {% set active_page = 'foreign' %}
{% endif %}

{% block title %}{{ _('%(station)s Online, Internet radio - listen live in Nadaje.com') | format(station=station) }}{% endblock %}
{% block meta_description %}{{ station.get_meta_description() }}{% endblock %}


{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils'], function($, utils){
        $('.popup').click(function(e) {
            e.preventDefault();
            window.open($(this).attr("href"), "popupWindow", "width=800,height=600,scrollbars=no,resizable=no");
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/inlineplayer.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flashblock.css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/soundmanager2-jsmin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/inlineplayer.js"></script>

{% endblock %}

{% block breadcrumbs %}
    {% if station.country == 'PL' %}
<li><a href="{{ reverse('radio-stations:station-index', args=[station.typ]) }}">{{ _('Stations') }}</a> <span class="divider">/</span></li>
    {% else %}
<li><a href="{{ reverse('radio-stations:foreign-station-index', args=[station.typ]) }}">{{ _('Foreign stations') }}</a> <span class="divider">/</span></li>
    {% endif %}
<li class="active">{{ station.name }}</li>
{% endblock %}

{% block body_class %}{{ super() }} stations details{% endblock %}

{% block content %}
<div id="sm2-container">
    <!-- SM2 flash goes here -->
</div>

<div class="block-header">
    <h2>{{ station.name }}</h2>
</div>
<div class="column-block-content">
    <div class="row">
        <div class="span8">
            <div class="station-details row">
                <div class="station-logo span4">
                    <div class="content">
            {% if station.logo %}
                        <img src="{{ station.logo.get_absolute_url('station_logo') }}" alt="{{ station }} logo" class="img-rounded"/>
            {% else %}
                        <img src="{{ STATIC_URL }}img/no-logo.png" alt="{{ station }} logo" class="img-rounded"/>
            {% endif %}
                        <hr/>
                        <div class="form-horizontal details">
                        {% if station.www %}
                                <div class="control-group">
                                    <strong>{{ _('Www') }}:</strong> <a href="{{ station.www }}" target="_blank">{{ station.www }}</a>
                                </div>
                        {% endif %}
                        {% if station.email %}
                                <div class="control-group">
                                    <strong>{{ _('Email') }}:</strong> <a href="mailto:{{ station.email }}">{{ station.email }}</a>
                                </div>
                        {% endif %}
                        {% if station.address %}
                                <div class="control-group">
                                    <strong>{{ _('Address') }}:</strong> {{ station.address }}, {{ station.postal_code }} {{ station.city }}
                                </div>
                        {% endif %}
                        {% if station.phone %}
                                <div class="control-group">
                                    <strong>{{ _('Phone') }}:</strong> {{ station.phone }}
                                </div>
                        {% endif %}
                        {% if station.fax %}
                                <div class="control-group">
                                    <strong>{{ _('Fax') }}:</strong> {{ station.fax }}
                                </div>
                        {% endif %}
                        {% with radio_groups=station.groups.all() %}
                            {% if radio_groups %}
                                <div class="control-group">
                                    <strong>{{ _('Radio groups') }}:</strong> {% for group in radio_groups %}<a href="{{ reverse('radio-stations:radio-group-details', args=[group.pk]) }}">{{ group }}</a> {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                        </div>
                    </div>
                </div>
            {% if station.has_streams %}
                <div class="station-streams span4">
                    <div class="content">
                        <h4>{{ _('Listen online') }}</h4>
                        <ul class="playlist">
            {% with streams = station.get_streams() %}
                {% if streams %}
                {% for stream in station.get_streams() %}
                    {% with stream = stream.get_subtype_instance() %}
                            <li>
                        {% if stream.browser_playable %}
                                <a class="inline-playable sm2_link" href="{{ stream.get_stream_url() }}">{{ stream }}</a>
                                <a href="{{ reverse('radio-stations:player', args=[station.pk, stream.pk]) }}" class="popup player sm2_link hidden-phone hidden-tablet">{{ _('New window') }}</a>
                                <a class="inline-executable sm2_link" href="{{ reverse('radio-stations:stream', args=[stream.pk]) }}">.m3u</a>
                        {% else %}
                                <a class="inline-executable sm2_link" href="{{ reverse('radio-stations:stream', args=[stream.pk]) }}">{{ stream }} - {{ _('native player') }} (.m3u)</a>
                        {% endif %}
                            </li>
                    {% endwith %}
                {% endfor %}
                        </ul>
                {% else %}
                        <p class="help-block content">
                            {{ _('Can not find any playable streams.') }}
                        </p>
                {% endif %}
            {% endwith %}
    {% if request.user %}
        {% if not request.user.profile.stations.filter(pk=station.pk).exists() %}
                        <form class="form-horizontal" method="post" action="{{ reverse('radio-stations:station-add-to-fav', args=[station.pk]) }}">
                            <input type="hidden" value="{{ request.get_full_path() }}" name="redirect_to">
                            <button type="submit" class="btn btn-primary with-icon" ><i class="icon-heart icon-2x icon-white"></i> {{ _('Add to favourites') }}</button>
                        </form>
        {% endif %}
    {% endif %}
                        <a class="btn btn-primary with-icon" href="{{ reverse('how-to-listen') }}"><i class="icon-question-sign icon-white"></i> {{ _('How to listen') }}</a>
                    </div>
                </div>
            {% endif %}
                <div class="station-description span8">
                    <div class="content">
                        <div class="hidden_phone visible-desktop pull-right gads-rectangle span3">
    {% block google_ads_station_content_desktop %}
                            {{ google_ads('rectangle_sub_page') }}
    {% endblock %}
                        </div>
                        <div class="hidden-desktop visible-phone visible-tablet">
    {% block google_ads_station_content_phone %}
                            <p class="help-block">
                                {{ google_ads('rectangle_sub_page', device='tablet') }}
                            </p>
    {% endblock %}
                        </div>
    {% if station.description %}
                        <p>
        {% if LANGUAGE_CODE != 'pl' %}
                                {{ _('Information about this radiostation is avialiable in polish language only.') }}
        {% else %}
                            {{ station.description | safe }}
        {% endif %}
                        </p>
    {% endif %}
                    </div>
    {% if station.genres.count() > 0 %}
                    <div class="row">
                        <div class="span8">
                            <div class="content">
                                <ul class="genres">
                                    <strong>{{ _('Genres') }}:</strong>
        {% for genre in station.genres.all() %}
                                    <li><a href="{{ reverse('radio-stations:station-genre-index', args=[genre.pk]) }}"><span class="label label-genre">{{ genre }}</span></a></li>
        {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
    {% endif %}
                    <div class="row">
                        <div class="span8">
                            <div class="content">
                                <div id="disqus_thread"></div>
                                    <script type="text/javascript">
                                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                                        var disqus_shortname = 'nadaje'; // required: replace example with your forum shortname
                                        var disqus_identifier = 'station-'+ {{ station.pk }};

                                        /* * * DON'T EDIT BELOW THIS LINE * * */
                                        (function() {
                                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                        })();
                                    </script>
                                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if fm_transmitters_locations %}
<div class="block-header hidden-phone">
    <h3>{{ _('FM Transmitters') }}</h3>
</div>
<div class="column-block-content hidden-phone">
    <div class="row">
        <div class="span8">
            <div class="content">
                <table class="table transmitters">
                    <thead>
                        <tr>
                            <th class="span2">{{ _('Location') }}</th>
                            <th class="span2">{{ _('Frequency') }}</th>
                            <th class="span4">{{ _('Cities') }}</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for group in fm_transmitters_locations | groupby('region') %}
        {% with region = group.grouper %}
            {% if region %}
                        <tr class="region">
                            <td colspan="3">
                                {{ _('%(region)s voivodeship') | format(region= region | code_to_region()) }}
                                <a class="pull-right with-icon" href="{{ reverse('transmitters:map') }}?{{ urlencode({'request_marker': 'marker', 'region': region, 'show_what': 'transmitters'}) }}"><i class="icon-map-marker"></i>{{ _('Map') }}</a>
                            </td>
                        </tr>
            {% endif %}
        {% endwith %}
        {% for location in group.list %}
            {% with transmitters = location.transmitters.all() %}
                {% for transmitter in transmitters %}
                    {% with transmitter = transmitter.get_subtype_instance() %}
                        <tr>
                            <td>
                                <a href="{{ reverse('transmitters:transmitter-location-details', args=[transmitter.location.pk, typ]) }}">{{ transmitter.location }}</a>
                            </td>
                            <td>
                                {{ transmitter.frequency }} MHz
                            </td>
                            <td>
                        {% for city in transmitter.cities.all() %}
                                <a href="{{ reverse('transmitters:city-details', args=[city.pk]) }}">{{ city.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if dab_transmitters_locations %}
<div class="block-header hidden-phone">
    <h3>{{ _('Digital transmitters') }}</h3>
</div>
<div class="column-block-content hidden-phone">
    <div class="row">
        <div class="span8">
            <div class="content">

                <table class="table transmitters">
                    <thead>
                        <tr>
                            <th class="span2">{{ _('Location') }}</th>
                            <th class="span2">{{ _('Multiplex and channel') }}</th>
                            <th class="span4">{{ _('Cities') }}</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for group in dab_transmitters_locations | groupby('region') %}
        {% with region = group.grouper %}
            {% if region %}
                        <tr class="region">
                            <td colspan="3">
                                {{ region | code_to_region() }}
                                <a class="pull-right with-icon" href="{{ reverse('transmitters:map') }}?{{ urlencode({'request_marker': 'marker', 'region': region, 'show_what': 'transmitters'}) }}"><i class="icon-map-marker"></i>{{ _('Map') }}</a>
                            </td>
                        </tr>
            {% endif %}
        {% endwith %}
        {% for location in group.list %}
            {% with transmitters = location.transmitters.all() %}
                {% for transmitter in transmitters %}
                    {% with transmitter = transmitter.get_subtype_instance() %}
                        <tr>
                            <td>
                                <a href="{{ reverse('transmitters:transmitter-location-details', args=[transmitter.location.pk, typ]) }}">{{ transmitter.location }}</a>
                            </td>
                            <td>
                                {{ transmitter.multiplex }}, {{ transmitter.channel }}
                            </td>
                            <td>
                        {% for city in transmitter.cities.all() %}
                                <a href="{{ reverse('transmitters:city-details', args=[city.pk]) }}">{{ city.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
