{% extends 'stations/base.html' %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'searchBox'], function($, utils, settings) {
        $('form#search-form').searchBox();
    });
</script>
{% endblock %}

{% block content %}
<div class="hero-unit search visible-desktop hidden-tablet hidden-phone">
    <form action="{{ reverse('station-search') }}" method="get" id="search-form">
        {{ search_form | bootstrap.form() }}
        <div id="search-results">
        </div>
    </form>
    <ul class="genres">
    {% for genre in search_genres %}
        <li><a href="{{ reverse('radio-stations:station-genre-index', args=[genre.pk]) }}"><span class="label label-genre">{{ genre }}</span></a></li>
    {% endfor %}
    </ul>
</div>
<div class="block-header">
    <h2>
        {{ _('Search results') }}
    </h2>
</div>
<div class="column-block-content" id="stations-container">
    {{ stations_list(stations) }}
</div>
{% endblock %}