{% extends 'stations/tv_station_base.html' %}


{% block breadcrumbs %}
<li class="active">{{ _('Tv stations') }}</li>
{% endblock %}

{% block content %}
<div class="block-header">
    <h2>
        {{ _('TV stations') }}
    </h2>
</div>
<div class="column-block-content">
    <p class="no-items">
		Trwają prace nad uruchomieniem działu telewizja internetowa w portalu nadaje.com
	</p>
</div>
{% endblock %}