{% extends "admin/users/base.html" %}
{% from "admin/macros.html" import empty_label %}
{% from 'bootstrap/macros.html' import detail with context %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'modal'], function($) {
        $(function() {
            $('.delete, .edit').modalEdit();
        });
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ reverse('admin') }}" class="with-icon">{{ _('Dashboard') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('User details') }}</a>
{% endblock %}

{% block content %}
<h1>
    {{ _('User details') }}
    <a href="{{ reverse('admin:user-edit', args=[user_.pk]) }}" class="edit with-icon"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
    <a href="{{ reverse('admin:user-password-change', args=[user_.pk]) }}" class="edit with-icon"><i class="icon-edit-sign"></i>{{ _('Change password') }}</a>
</h1>
<div class="form-horizontal details row">
    <div class="span6">
        {{ user_|object_details(
            ('', ['email', 'first_name', 'last_name', 'is_staff', 'is_admin'])
        )}}
    </div>
    <div class="span6">
        {{ user_|object_details(
            ('', ['stations_management', 'transmitters_management'])
        )}}
    </div>
</div>
{% endblock %}