{% extends "admin/users/base.html" %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#users-container'));
            },
            success: function(response) {
                $('#users-container').after(utils.filterHtml(response, '#users-container')).remove();
            }
        }).find('[type="submit"]').hide();
    });
</script>
{% endblock %}

{% block content %}
<form action="{{ reverse('admin:user-index') }}" class="well form-horizontal" id="filter" method="get">
    <input type="hidden" name="request_marker" value="mark" />
    {{ filter_form | bootstrap.form('query') }}
    <div class="row checkboxes">
    {% with field = filter_form.is_staff %}
        <label class="checkbox inline">
            <input type="checkbox" {% if field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}">
            <span class="label label-success">{{ field.html_name }}</span>
        </label>
    {% endwith %}
    {% with field = filter_form.is_admin %}
        <label class="checkbox inline">
            <input type="checkbox" {% if field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}">
            <span class="label label-success">{{ field.html_name }}</span>
        </label>
    {% endwith %}
    </div>
    <div class="actions">
        <button type="submit" class="btn"><i class="icon-search"></i> {{ _('Apply Filter') }}</button>
    </div>
</form>
    {% set users_sorting=get_sorting(users, request, ['email'], ['email']) %}
    {% set users_pagination=get_pagination(users_sorting.sort(), request, paginate_by=20, results_limit=200) %}
<div id="users-container">
    <table class="table table-striped" summary="stations">
        <thead>
            <tr>
                <th class="first">{{ users_sorting.anchor('email', _('email')) }}</th>
                <th>{{ _('first name') }}</th>
                <th>{{ _('last name') }}</th>
                <th>{{ _('is staff') }}</th>
                <th>{{ _('is admin') }}</th>
            </tr>
        </thead>
        <tbody>
    {% for user in users_pagination.paginate() %}
            <tr>
                <td class="first">
        {% if filter_form.is_valid() %}
                    <a href="{{ reverse('admin:user-details', args=[user.pk]) }}"><span class="station-name">{{ user.email | substring_marker(filter_form.cleaned_data.get('query','')) }}</span></a>
        {% else %}
                    <a href="{{ reverse('admin:user-details', args=[user.pk]) }}"><span class="station-name">{{ user.email }}</span></a>
        {% endif %}
                </td>
                <td>
        {% if filter_form.is_valid() %}
                    {{ user.first_name | substring_marker(filter_form.cleaned_data.get('query','')) }}
        {% else %}
                    {{ user.first_name }}
        {% endif %}
                </td>
                <td>
        {% if filter_form.is_valid() %}
                    {{ user.last_name | substring_marker(filter_form.cleaned_data.get('query','')) }}
        {% else %}
                    {{ user.last_name }}
        {% endif %}
                </td>
                <td>
        {% if user.is_staff %}
                    <i class="icon-ok-sign">&nbsp;</i>
        {% else %}
                    <i class="icon-minus-sign">&nbsp;</i>
        {% endif %}
                </td>
                <td>
        {% if user.is_admin %}
                    <i class="icon-ok-sign">&nbsp;</i>
        {% else %}
                    <i class="icon-minus-sign">&nbsp;</i>
        {% endif %}
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {{ users_pagination.pagination() }}
</div>
{% endblock %}