{% extends "admin/users/base.html" %}
{% from 'bootstrap/macros.html' import form_actions %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'modal'], function($) {
        $(function() {
            $('.delete, .edit').modalEdit();
        });
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ reverse('admin') }}" class="with-icon">{{ _('Dashboard') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('User details') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">
    {{ _('Change %(user)s password') | format(user=user_) }}
</h1>
<form class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ form | bootstrap.form() }}
    {{ form_actions(cancel_url=cancel_url) }}
</form>
{% endblock %}