{% extends 'mails/base.html' %}

{% block body %}
<p>{{ _('Reset password') }}</p>
<p>{{ _('To reset your password please visit <a href="%(token)s">%(token)s</a>') | format(token=token) | safe }}</p>
{% endblock %}