{% extends 'admin/transmitters/city_base.html' %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:transmitter-city-index') }}" class="with-icon">{{ _('Cities') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('City details') }}</a>
{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'modal', 'lib/bootstrap', 'map'], function($) {
        $(function() {
            $('.broadcast-quality').tooltip();
            var mapSelector = $('#map');
            mapSelector.googleMap({
                zoom: 10,
                centerLat: mapSelector.attr('data-center-lat'),
                centerLng: mapSelector.attr('data-center-lng'),
                showInfoBox: true,
                height: '350'
            });
            $('.broadcasting-delete').modalEdit();
            $('.edit, .delete').modalEdit();
        });
    });
</script>
<style type="text/css">
    /** FIX for Bootstrap and Google Maps Info window styles problem **/
    img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none;
    }
</style>
{% endblock %}


{% block content %}
<h1>{{ city }}</h1>
<div class="form-horizontal details row">
    <div class="span6">
        {{ city | object_details('name', 'country', 'region') }}
    </div>
    <div class="span6">
        <div id="map" data-center-lat="{{ city.lat }}" data-center-lng="{{ city.lng }}" class="thumbnail">
            <a class="marker" target="_blank" href="http://maps.google.com/?q={{ city.lat }},{{ city.lng }}"
                    data-type="city" data-lat="{{ city.lat }}" data-lng="{{ city.lng }}"
                    data-object-url="{{ reverse('transmitters:city-details', args=[city.pk]) }}"
                    data-marker-label="{{ city.name }}"><i class="icon-map-marker"></i>{{ city }}</a>
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
<h2>
    {{ _('Transmitters') }}
    <a href="{{ reverse('admin:transmitter-city-transmitter-select', args=[city.pk]) }}" class="with-icon"><i class="icon-plus-sign"></i>{{ _('Add') }}</a>
</h2>
<div class="row">
    <div class="span12">
    {% if transmitters %}
        <table class="table transmitters">
            <thead>
                <tr>
                    <th class="first">{{ _('Station') }}</th>
                    <th>{{ _('Frequency') }}</th>
                    <th>{{ _('Location') }}</th>
                    <th>{{ _('Quality') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for transmitter in transmitters %}
            {% with transmitter = transmitter.get_subtype_instance() %}
                <tr>
                    <td class="first">
                        <a href="{{ reverse('radio-stations:station-details', args=[transmitter.station.pk]) }}">{{ transmitter.station }}</a>
                    </td>
                    <td>
                {% if transmitter.broadcast_type == 'FM' %}
                        {{ transmitter.frequency }} MHz
                {% else %}
                        {{ transmitter.multiplex }} - {{ transmitter.channel }}
                {% endif %}
                    </td>
                    <td>
                        <a href="{{ reverse('transmitters:transmitter-location-details', args=[transmitter.location.pk, transmitter.broadcast_type]) }}">{{ transmitter.location }}</a>
                    </td>
                    <td>{{ broadcaster(city, transmitter) | broadcast_quality_format() }}</td>
                    <td class="last">
                        <a href="{{ reverse('admin:transmitter-city-transmitter-delete', args=[city.pk, transmitter.pk]) }}" class="with-icon"><i class="icon-remove-sign"></i>{{ _('Delete') }}</a>
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-items">
            {{ _('This city has no transmitters') }}
        </p>
    {% endif %}
    </div>
</div>
{% endblock %}