{% extends "admin/transmitters/city_base.html" %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:transmitter-city-index') }}" class="with-icon">{{ _('Cities') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ reverse('admin:transmitter-city-details', args=[city.pk]) }}" class="with-icon">{{ _('City details') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Delete transmitter from city') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Delete transmitter from city') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ form | bootstrap.form() }}
    {{ form_actions(cancel_url=cancel_url, delete_form=True) }}
</form>
{% endblock %}