{% extends "admin/base.html" %}
{% set active_tab='cities' %}
{#
{% block extra_tabs %}
    <li class="pull-right">
        <a class="transmitter-add with-icon" href="{{ reverse('admin:transmitter-type-select') }}"><i class="icon-plus-sign"></i>{{ _('Add') }}</a>
    </li>
{% endblock %}
#}