{% extends "admin/transmitters/city_base.html" %}
{% from "admin/macros.html" import empty_label %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm', 'lib/jquery.blockUI'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#city-container'));
            },
            success: function(response) {
                $('#city-container').after(utils.filterHtml(response, '#city-container')).remove();
            }
        }).find('[type="submit"]').hide();
    });
</script>
{% endblock %}

{% block content %}
<form action="{{ reverse('admin:transmitter-city-index') }}" class="well form-horizontal" id="filter" method="get">
    <input type="hidden" name="request_marker" value="mark" />
    {{ filter_form | bootstrap.form('query') }}
    <div class="checkboxes">
    {% with field = filter_form.regions %}
        {% for choice in field.field.choices %}
        <label class="checkbox inline">
            <input type="checkbox" {% if field.value() and choice[0] in field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ loop.index }}" value="{{ choice[0] }}">
            <span class="label region {{ choice[0] }}">{{ choice[1] }}</span>
        </label>
        {% endfor %}
    {% endwith %}
    </div>
    <div class="actions">
        <button type="submit" class="btn"><i class="icon-search"></i> {{ _('Apply Filter') }}</button>
    </div>
</form>
    {% set city_sorting=get_sorting(cities, request, ['name', 'region'], ['name']) %}
    {% set city_pagination=get_pagination(city_sorting.sort(), request, paginate_by=20, results_limit=200) %}
<div id="city-container">
    <table class="table table-striped" summary="cities">
        <thead>
            <tr>
                <th class="first">{{ city_sorting.anchor('name', _('name')) }}</th>
                <th>{{ city_sorting.anchor('region', _('region')) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for city in city_pagination.paginate() %}
            <tr>
                <td class="first">
                    <a href="{{ reverse('admin:transmitter-city-details', args=[city.pk]) }}">{{ city }}</a>
                </td>
                <td>
            {% if filter_form.is_valid() %}
                    <span class="city-location">{{ city.get_region_display() | substring_marker(filter_form.cleaned_data.get('query','')) }}</span>
            {% else %}
                    <span class="city-location">{{ city.get_region_display() }}</span>
            {% endif %}
                </td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ city_pagination.pagination() }}
</div>
{% endblock %}