{% extends "admin/transmitters/transmitter_details.html" %}

{% block transmitter_details %}
<div class="control-group">
    <div class="control-label">
        {{ _('Type') }}
    </div>
    <div class="controls">
        {{ transmitter.broadcast_type }}
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        {{ _('Frequency') }}
    </div>
    <div class="controls">
        {{ transmitter.frequency }} MHz
    </div>
</div>
{{ transmitter | object_details(('', ['active', 'rds', 'erp', 'pi'])) }}
<div class="control-group">
    <div class="control-label">
        {{ _('Polarity') }}
    </div>
    <div class="controls">
        {{ transmitter.get_polarity_display() }}
    </div>
</div>

{% endblock %}