{% extends "admin/transmitters/base.html" %}
{% from "admin/macros.html" import empty_label %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm', 'lib/jquery.blockUI'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#transmitters-container'));
            },
            success: function(response) {
                $('#transmitters-container').after(utils.filterHtml(response, '#transmitters-container')).remove();
            }
        }).find('[type="submit"]').hide();
    });
</script>
{% endblock %}

{% block content %}
<form action="{{ reverse('admin:transmitter-index') }}" class="well form-horizontal" id="filter" method="get">
    <input type="hidden" name="request_marker" value="mark" />
    {{ filter_form | bootstrap.form('query') }}
    <div class="checkboxes">
    {% with field = filter_form.regions %}
        {% for choice in field.field.choices %}
        <label class="checkbox inline">
            <input type="checkbox" {% if field.value() and choice[0] in field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ loop.index }}" value="{{ choice[0] }}">
            <span class="label region {{ choice[0] }}">{{ choice[1] }}</span>
        </label>
        {% endfor %}
    {% endwith %}
    </div>
    <div class="actions">
        <button type="submit" class="btn"><i class="icon-search"></i> {{ _('Apply Filter') }}</button>
    </div>
</form>
    {% set transmitters_sorting=get_sorting(transmitters, request, ['location__location'], ['location__location']) %}
    {% set transmitters_pagination=get_pagination(transmitters_sorting.sort(), request, paginate_by=20, results_limit=200) %}
<div id="transmitters-container">
    <table class="table table-striped" summary="transmitters">
        <thead>
            <tr>
                <th></th>
                <th>{{ transmitters_sorting.anchor('location__location', _('location')) }}</th>
                <th>{{ _('station') }}</th>
                <th>{{ _('region') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for transmitter in transmitters_pagination.paginate() %}
            {% with transmitter=transmitter.get_subtype_instance() %}
            <tr>
                <td class="first">
                    <a href="{{ reverse('admin:transmitter-details', args=[transmitter.pk]) }}">{{ transmitter }}</a>
                </td>
                <td>
                {% if filter_form.is_valid() %}
                    <span class="transmitter-location">{{ transmitter.location.location | substring_marker(filter_form.cleaned_data.get('query','')) }}</span>
                {% else %}
                    <span class="transmitter-location">{{ transmitter.location.location }}</span>
                {% endif %}
                </td>
                <td>
                {% if filter_form.is_valid() %}
                    <a href="{{ reverse('admin:station-details', args=[transmitter.station.pk]) }}" ><span class="station-name">{{ transmitter.station | substring_marker(filter_form.cleaned_data.get('query', '')) }}</span></a>
                {% else %}
                    <a href="{{ reverse('admin:station-details', args=[transmitter.station.pk]) }}"><span class="station-name">{{ transmitter.station }}</span></a>
                {% endif %}
                </td>
                <td>
                {% if transmitter.location.region %}
                    {{ transmitter.location.get_region_display() }}
                {% else %}
                    {{ empty_label() }}
                {% endif %}
                </td>
            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    {{ transmitters_pagination.pagination() }}
</div>
{% endblock %}