{% extends "admin/transmitters/base.html" %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery'], function($) {
        $(function(){
            if ($('#id_use_existing_city').not(':checked')) {
                $('.existing-city-form-container').hide();
            }
            $('#id_use_existing_city').change(function() {
                if ($(this).is(':checked')) {
                    $('.existing-city-form-container').slideDown();
                    $('.new-city-form-container').slideUp();
                } else {
                    $('.existing-city-form-container').slideUp();
                    $('.new-city-form-container').slideDown();
                }
            });
        });
    })
</script>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:transmitter-index') }}" class="with-icon">{{ _('Transmitters') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ reverse('admin:transmitter-details', args=[transmitter.pk]) }}" class="with-icon">{{ _('Transmitter details') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Add transmitter broadcasting') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Add transmitter broadcasting') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ non_field_errors(city_form.non_field_errors()) }}
    {{ non_field_errors(city_select_form.non_field_errors()) }}
    {{ non_field_errors(broadcasting_form.non_field_errors()) }}
    {{ use_existing_city_form | bootstrap.form() }}
    <div class="new-city-form-container">
        {{ city_form | bootstrap.form() }}
    </div>
    <div class="existing-city-form-container">
        {{ city_select_form | bootstrap.form() }}
    </div>
    {{ broadcasting_form | bootstrap.form() }}
    {{ form_actions(cancel_url=cancel_url) }}
</form>
{% endblock %}