{% extends "admin/transmitters/base.html" %}
{% from "admin/macros.html" import empty_label %}
{% from 'bootstrap/macros.html' import detail with context %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:transmitter-index') }}" class="with-icon">{{ _('Transmitters') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Transmitter location details') }}</a>
{% endblock %}

{% block content %}
<h1>
    {{ _('Transmitter location details') }}
    <a href="{{ reverse('admin:transmitter-location-edit', args=[transmitter_location.pk]) }}" class="with-icon"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
</h1>
<div class="form-horizontal details row">
    <div class="span12">
        <div class="control-group">
            <div class="control-label">
                {{ _('Location') }}
            </div>
            <div class="controls">
                {{ transmitter_location.location }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ _('Country') }}
            </div>
            <div class="controls">
                {{ transmitter_location.get_country_display() }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ _('Region') }}
            </div>
            <div class="controls">
        {% if transmitter_location.region %}
                {{ transmitter_location.get_region_display() }}
        {% else %}
                {{ empty_label() }}
        {% endif %}
            </div>
        </div>
        {{ transmitter_location | object_details(('', ['lat', 'lng'])) }}
    </div>
</div>
<h3>{{ _('Transmitters') }}</h3>
<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="first">{{ _('station') }}</th>
                    <th>{{ _('frequency / channel') }}</th>
                    <th>{{ _('active') }}</th>
                    <th>{{ _('type') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
    {% for transmitter in transmitters %}
                <tr>
                    <td class="first">
                        <a href="{{ reverse('admin:station-details', args=[transmitter.station.pk]) }}">{{ transmitter.station }}</a>
                    </td>
                    <td>
        {% if transmitter.frequency %}
                        {{ transmitter.frequency }} MHz
        {% elif transmitter.channel %}
                        {{ transmitter.channel }}
        {% else %}
                        {{ empty_label() }}
        {% endif %}
                    </td>
                    <td>
        {% if transmitter.active %}
                        <i class="icon-ok-sign"></i>
        {% else %}
                        <i class="icon-minus-sign"></i>
        {% endif %}
                    </td>
                    <td>{{ transmitter.broadcast_type }}</td>
                    <td class="last">
                        <a class="details with-icon" href="{{ reverse('admin:transmitter-details', args=[transmitter.pk]) }}"><i class="icon-eye-open"></i>{{ _('Details') }}</a>
                    </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}