{% extends "admin/transmitters/base.html" %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:transmitter-index') }}" class="with-icon">{{ _('Transmitters') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ reverse('admin:transmitter-details', args=[transmitter.pk]) }}" class="with-icon">{{ _('Transmitter details') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Delete transmitter broadcasting') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Delete transmitter broadcasting') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ form | bootstrap.form() }}
    {{ form_actions(cancel_url=cancel_url, delete_form=True) }}
</form>
{% endblock %}