{% extends "admin/transmitters/base.html" %}
{% from "admin/macros.html" import empty_label %}
{% from "bootstrap/macros.html" import detail with context %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'modal', 'lib/bootstrap', 'map'], function($) {
        $(function() {
            $('.broadcast-quality').tooltip();
            var mapSelector = $('#map');
            mapSelector.googleMap({
                zoom: 10,
                centerLat: mapSelector.attr('data-center-lat'),
                centerLng: mapSelector.attr('data-center-lng'),
                showInfoBox: true,
                height: '350'
            });
            $('.broadcasting-delete').modalEdit();
            $('.edit, .delete').modalEdit();
        });
    });
</script>
<style type="text/css">
    /** FIX for Bootstrap and Google Maps Info window styles problem **/
    img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:transmitter-index') }}" class="with-icon">{{ _('Transmitters') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Transmitter details') }}</a>
{% endblock %}

{% block content %}
    {% with location=transmitter.location %}
<h1>
    {{ _('Transmitter details') }}
    <a class="delete with-icon" href="{{ reverse('admin:transmitter-delete', args=[transmitter.pk]) }}"><i class="icon-remove-sign"></i> {{ _('Delete') }}</a>
    <a class="edit with-icon" href="{{ reverse('admin:transmitter-edit', args=[transmitter.pk]) }}"><i class="icon-edit-sign"></i> {{ _('Edit') }}</a>
</h1>
<div class="form-horizontal details row">
    <div class="span6">
        <div class="control-group">
            <div class="control-label">
                {{ _('Station') }}
            </div>
            <div class="controls">
                <a href="{{ reverse('admin:station-details', args=[transmitter.station.pk]) }}" >{{ transmitter.station }}</a>
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ _('Location') }}
            </div>
            <div class="controls">
                <a href="{{ reverse('admin:transmitter-location-details', args=[location.pk]) }}">{{ location.location }}</a>
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ _('Country') }}
            </div>
            <div class="controls">
                {{ location.get_country_display() }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ _('Region') }}
            </div>
            <div class="controls">
        {% if location.region %}
                {{ location.get_region_display() }}
        {% else %}
                {{ empty_label() }}
        {% endif %}
            </div>
        </div>
    </div>
    <div class="span6">
    {% block transmitter_details %}
    {% endblock %}
    </div>
</div>
<h3>{{ _('Map') }}</h3>
<div class="row">
    <div class="span12">
        <div id="map" data-center-lat="{{ location.lat }}" data-center-lng="{{ location.lng }}" class="thumbnail">
            <a class="marker" target="_blank" href="http://maps.google.com/?q={{ location.lat }},{{ location.lng }}"
               data-type="transmitter" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}"
               data-object-url="{{ reverse('transmitters:transmitter-location-details', args=[transmitter.location.pk]) }}"
               data-marker-label="{{ transmitter.location }}"><i class="icon-map-marker"></i>{{ transmitter }}</a>
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
    {% endwith %}
<h3>
    {{ _('Broadcasting') }}
    <a class="pull-right with-icon broadcasting-add" href="{{ reverse('admin:transmitter-broadcasting-add', args=[transmitter.pk]) }}"><i class="icon-plus-sign"></i>{{ _('Add') }}</a>
</h3>
<div class="row">
    <div class="span12">
    {% with cities=transmitter.cities.all() %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="first">{{ _('city') }}</th>
                    <th>{{ _('quality') }}</th>
                    <th>{{ _('latitude') }}</th>
                    <th>{{ _('laongitude') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for city in cities %}
                <tr>
                    <td class="first">
                        {{ city }}
                    </td>
            {% with broadcaster=broadcaster(city, transmitter) %}
                    <td>
                        {{ broadcaster | broadcast_quality_format() }}
                    </td>
                    <td>{{ city.lat }}</td>
                    <td>{{ city.lng }}</td>
                    <td class="last">
                        {#
                        <a href="#"><i class="icon-map-marker"></i>{{ _('Map') }}</a>
                        <a href="#"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
                        #}
                        <a class="broadcasting-delete with-icon" href="{{ reverse('admin:transmitter-broadcasting-delete', args=[broadcaster.transmitter.pk, broadcaster.city.pk]) }}"><i class="icon-remove-sign"></i>{{ _('Delete') }}</a>
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
            </tbody>
        </table>
    </div>
    {% endwith %}
</div>
{% endblock %}