{% extends "admin/transmitters/base.html" %}
{% from "bootstrap/macros.html" import form_actions %}

{% block content %}
<h1>{{ _('Select transmitter type') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ form | bootstrap.form() }}
    {{ form_actions(label=_('Next'), cancel_url=cancel_url) }}
</form>
{% endblock %}