{% extends 'transmitters/city_base.html' %}

{% block title %}Częstotliwości radiowe w Polsce  | nadaje.com{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#city-container'));
            },
            success: function(response) {
                $('#city-container').after(utils.filterHtml(response, '#city-container')).remove();
            }
        }).find('button').hide();
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<li class="active">{{ _('Cities') }}</li>
{% endblock %}

{% block content %}
<div class="block-header">
    <h2>
        {{ _('Cities') }}
    </h2>
    <div class="header-form hidden-phone">
        <form action="{{ request.get_full_path() }}" class="form-search form-inline pull-right" id="filter" method="get">
            <input type="hidden" name="request_marker" value="mark" />
            {{ filter_form.region | bootstrap.field() }}
            <label for="id_query" class="control-label ">&nbsp;</label>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search icon-white"></i></span>
                <input type="text" id="id_query" name="query" placeholder="{{ _('name') }}">
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i> {{ _('Apply Filter') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="column-block-content" id="city-container">
    {% set city_pagination=get_pagination(cities, request, paginate_by=10, results_limit=100) %}
    <div class="row">
        <div class="span8">
            <div class="content">
    {% if cities %}
                <table class="table cities">
                    <thead>
                        <tr>
                            <th class="span2">{{ _('City') }}</th>
                            <th class="span4">{{ _('Transmitters') }}</th>
                            <th class="span2">{{ _('Quality') }}</th>
                            <th class="span2"></th>
                        </tr>
                    </thead>
                    <tbody>
        {% for city in city_pagination.paginate() %}
                        <tr>
                            <td>
            {% if filter_form.is_valid() %}
                                <a href="{{ reverse('transmitters:city-details', args=['FM', city.pk]) }}">{{ city.name | substring_marker(filter_form.cleaned_data.get('query','')) }}</a>
            {% else %}
                                <a href="{{ reverse('transmitters:city-details', args=['FM', city.pk]) }}">{{ city.name }}</a>
            {% endif %}
                            </td>
                            <td colspan="2">
                                <table>
                                    <tbody>
            {% with transmitters = city.transmitters.filter(citytransmitter__quality__gte=3) %}
                {% for transmitter in transmitters %}
                    {% with transmitter = transmitter.get_subtype_instance() %}
                                        <tr>
                                            <td class="span4">
                                                <a href="{{ reverse('radio-stations:station-details', args=[transmitter.station.pk]) }}"> {{ transmitter }}</a>
                                            </td>
                                            <td class="span2">{{ broadcaster(city, transmitter) | broadcast_quality_format() }}</td>
                                        </tr>
                    {% endwith %}
                {% endfor %}
            {% endwith %}
                                    </tbody>
                                </table>
                            </td>
                            <td class="last">
                                <a href="{{ reverse('transmitters:map-city', args=[city.pk]) }}" class="with-icon"><i class="icon-map-marker"></i>{{ _('Map') }}</a>
                            </td>
                        </tr>
        {% endfor %}
                    </tbody>
                </table>
                {{ city_pagination.pagination() }}
    {% else %}
                <p class="no-items">
                    {{ _('No city matches given criteria') }}
                </p>
    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}