{% extends "transmitters/city_base.html" %}

{% block title %}{{ _('%(city)s FM Radio stations - Frequencies of raio stations | nadaje.com') | format(city=city) }}{% endblock %}
{% block meta_description %}{{ super() }}{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ reverse('transmitters:city-index', args=[typ]) }}">{{ _('Cities') }}</a> <span class="divider">/</span></li>
<li class="active">{{ city }}</li>
{% endblock %}


{% block content %}
<div class="block-header">
    <h2>{{ city }}</h2>
</div>
<div class="row">
    <div class="span8">
        <div class="content">
            {{ _('%(region)s voivodeship') | format(region=city.region | code_to_region()) }}
            <a class="pull-right with-icon" href="{{ reverse('transmitters:map') }}?{{ urlencode({'request_marker': 'marker', 'region': city.region, 'show_what': 'transmitters'}) }}"><i class="icon-map-marker"></i>{{ _('Map') }}</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="span8">
        <ul class="nav nav-tabs" id="city-details-nav">
            <li{% if show==None %} class="active"{% endif %}><a href="{{ reverse('transmitters:city-details', args=['FM', city.pk, city.name|slugify]) }}">{{ _('Stations by strongest signal') }}</a></li>
            <li{% if show=='all' %} class="active"{% endif %}><a href="{{ reverse('transmitters:city-details', args=['FM', city.pk, city.name|slugify]) }}?{{ urlencode({'show': 'all'}) }}">{{ _('All stations') }}</a></li>
            <li{% if show=='foreign' %} class="active"{% endif %}><a href="{{ reverse('transmitters:city-details', args=['FM', city.pk, city.name|slugify]) }}?{{ urlencode({'show': 'foreign'}) }}">{{ _('Foreign stations') }}</a></li>
        </ul>
    </div>
</div>
<div class="column-block-content">
    <div class="row">
        <div class="span8">
            <div class="content">
    {% if transmitters %}
                <table class="table transmitters">
                    <thead>
                        <tr>
                            <th class="span2">{{ _('Station') }}</th>
                            <th class="span2">{{ _('Frequency') }}</th>
                            <th class="span2">{{ _('Transmitter') }}</th>
                            <th class="span2">{{ _('Quality') }}</th>
                        </tr>
                    </thead>
                    <tbody>
        {% for transmitter in transmitters %}
            {% with transmitter = transmitter.get_subtype_instance() %}
                        <tr>
                            <td>
                                <a href="{{ reverse('radio-stations:station-details', args=[transmitter.station.pk]) }}">{{ transmitter.station }}</a>
                            </td>
                            <td>
                {% if transmitter.broadcast_type == 'FM' %}
                                {{ transmitter.frequency }} MHz
                {% else %}
                                {{ transmitter.multiplex }} - {{ transmitter.channel }}
                {% endif %}
                            </td>
                            <td>
                                <a href="{{ reverse('transmitters:transmitter-location-details', args=[transmitter.location.pk, transmitter.broadcast_type]) }}">{{ transmitter.location }}</a>
                            </td>
                            <td class="span2">{{ broadcaster(city, transmitter) | broadcast_quality_format() }}</td>
                        </tr>
            {% endwith %}
        {% endfor %}
                    </tbody>
                </table>
    {% else %}
                <p class="no-items">
                    {{ _('This city has no transmitters') }}
                </p>
    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}