{% extends 'transmitters/base.html' %}

{% set active_page='foreign' %}

{% block title %}Zagraniczne stacje FM - Odbiór w Polsce  | nadaje.com{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#transmitters-container'));
            },
            success: function(response) {
                $('#transmitters-container').after(utils.filterHtml(response, '#transmitters-container')).remove();
            }
        }).find('button').hide();
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ reverse('radio-stations:foreign-station-index', args=['FM']) }}">{{ _('Foreign stations') }}</a><span class="divider">/</span></li>
<li class="active">{{ _('Foreign transmitters in Poland') }}</li>
{% endblock %}

{% block content %}
<div class="block-header">
    <h2>
        {{ _('Foreign transmitters in Poland') }}
    </h2>
    <div class="header-form hidden-phone">
        <form action="{{ request.get_full_path() }}" class="form-search form-inline pull-right" id="filter" method="get">
            <input type="hidden" name="request_marker" value="mark" />
            {{ filter_form.country | bootstrap.field() }}
            <label for="id_query" class="control-label ">&nbsp;</label>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search icon-white"></i></span>
                <input type="text" id="id_query" name="query" placeholder="{{ _('location, station name') }}">
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i> {{ _('Apply Filter') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="column-block-content" id="transmitters-container">
    {% set transmitters_pagination=get_pagination(transmitters, request, paginate_by=20, results_limit=100) %}
    <div class="row">
        <div class="span8">
            <div class="content">
    {% if transmitters %}
                <table class="table transmitters">
                    <thead>
                        <tr>
                            <th class="span2">{{ _('Location') }}</th>
                            <th class="span2">{{ _('Frequency') }}</th>
                            <th class="span4">{{ _('Station') }}</th>
                            <th class="span2"></th>
                        </tr>
                    </thead>
                    <tbody>
        {% for transmitter in transmitters_pagination.paginate() %}
            {% with transmitter = transmitter.get_subtype_instance() %}
                        <tr>
                            <td>
                {% if filter_form.is_valid() %}
                                <a href="{{ reverse('transmitters:transmitter-location-details', args=[transmitter.location.pk]) }}">{{ transmitter.location | substring_marker(filter_form.cleaned_data.get('query','')) }}</a>
                {% else %}
                                <a href="{{ reverse('transmitters:transmitter-location-details', args=[transmitter.location.pk]) }}">{{ transmitter.location }}</a>
                {% endif %}
                            </td>
                            <td>
                {% if transmitter.broadcast_type == 'FM' %}
                                {{ transmitter.frequency }} MHz
                {% else %}
                                {{ transmitter.multiplex }} - {{ transmitter.channel }}
                {% endif %}
                            </td>
                            <td>
                        {% if filter_form.is_valid() %}
                                <a href="{{ reverse('radio-stations:station-details', args=[transmitter.station.pk]) }}">{{ transmitter.station.name | substring_marker(filter_form.cleaned_data.get('query','')) }}</a>
                        {% else %}
                                <a href="{{ reverse('radio-stations:station-details', args=[transmitter.station.pk]) }}">{{ transmitter.station.name }}</a>
                        {% endif %}
                            </td>
                            <td class="last">
                                <a href="{{ reverse('transmitters:map-location', args=[transmitter.location.pk]) }}" class="with-icon"><i class="icon-map-marker"></i>{{ _('Map') }}</a>
                            </td>
                        </tr>
            {% endwith %}
        {% endfor %}
                    </tbody>
                </table>
                {{ transmitters_pagination.pagination() }}
    {% else %}
                <p class="no-items">
                    {{ _('No transmitter matches given criteria') }}
                </p>
    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}