{% extends "transmitters/base.html" %}

{% block title %}{{ _('%(location)s Check radio stations and frequencies') | format(location=transmitter_location) }}{% endblock %}
{% block meta_description %}{{ super() }}{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ reverse('transmitters:radio-transmitter-index', args=[typ]) }}">{{ _('Transmitters') }}</a> <span class="divider">/</span></li>
<li class="active">{{ transmitter_location }}</li>
{% endblock %}


{% block content %}
<div class="block-header">
    <h2>{{ transmitter_location }}</h2>
</div>
<div class="column-block-content">
    <div class="row">
        <div class="span8">
            <div class="content">
    {% if transmitters %}
                <table class="table transmitters">
                    <thead>
                        <tr>
                            <th class="span2">{{ _('Station') }}</th>
                            <th class="span2">{{ _('Frequency') }}</th>
                        </tr>
                    </thead>
                    <tbody>
        {% for transmitter in transmitters %}
            {% with transmitter = transmitter.get_subtype_instance() %}
                        <tr>
                            <td>
                                <a href="{{ reverse('radio-stations:station-details', args=[transmitter.station.pk]) }}">{{ transmitter.station }}</a>
                            </td>
                            <td>
                {% if transmitter.broadcast_type == 'FM' %}
                                {{ transmitter.frequency }} MHz
                {% else %}
                                {{ transmitter.multiplex }} - {{ transmitter.channel }}
                {% endif %}
                            </td>
                        </tr>
            {% endwith %}
        {% endfor %}
                    </tbody>
                </table>
    {% else %}
                <p class="no-items">
                    {{ _('No transmitter matches given criteria') }}
                </p>
    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}