{% extends 'transmitters/base.html' %}

{% block title %}Radiowa mapa Polski | nadaje.com{% endblock %}
{% block meta_description %}Radio internetowe, Wszystkie polskie stacje radiowe przez internet. Polskie radiostacje na żywo w internecie! Nadaje się tu.
Radiowa Mapa Polski, Serwery shoutcast dla stacji radiowych. Największy katalog stacji internetowych.
 - radiowa mapa polski - częstotliwości stacji radiowych - katalog rozgłośni - radio internetowe - informacje o rozgłośniach{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm', 'lib/bootstrap', 'map'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#map-container'));
            },
            success: function(response) {
                var newMapContainer = utils.filterHtml(response, '#map-container');
                $('#map-container').after(newMapContainer).remove();
                var mapSelector = newMapContainer.find('#map');
                console.log(mapSelector);
                mapSelector.googleMap({
                    zoom: {{ center.zoom }},
                    centerLat: mapSelector.attr('data-center-lat'),
                    centerLng: mapSelector.attr('data-center-lng'),
                    showInfoBox: true,
                    height: '550'
                });
            }
        }).find('button').hide();
        var mapSelector = $('#map');
        mapSelector.googleMap({
            zoom: {{ center.zoom }},
            centerLat: mapSelector.attr('data-center-lat'),
            centerLng: mapSelector.attr('data-center-lng'),
            showInfoBox: true,
            height: '550'
        });
    });
</script>
<style type="text/css">
    /** FIX for Bootstrap and Google Maps Info window styles problem **/
    img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ reverse('radio-stations:station-index', args=[typ]) }}">{{ _('Stations') }}</a> <span class="divider">/</span></li>
<li class="active">{{ _('Polish radio map') }}</li>
{% endblock %}


{% block content %}
<div class="block-header">
    <h2>
        {{ _('Polish radio map') }}
    </h2>
    <div class="header-form hidden-phone">
        <form action="{{ request.get_full_path() }}" class="form-search form-inline pull-right" id="filter" method="get">
            <div class="header-fields">
            {{ form | bootstrap.form() }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i> {{ _('Apply Filter') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="column-block-content" id="map-container">
    <div class="row">
        <div class="span8">
            <div id="map" data-center-lat="{{ center.lat }}" data-center-lng="{{ center.lng }}">
    {% if locations %}
        {% for location in locations %}
                <a class="marker" target="_blank" href="http://maps.google.com/?q={{ location.lat }},{{ location.lng }}"
                    data-type="transmitter" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}"
                    data-object-url="{{ reverse('transmitters:transmitter-location-details', args=[location.pk]) }}"
                    data-marker-label="{{ location.location }}"><i class="icon-map-marker"></i>{{ location }}</a>
        {% endfor %}
    {% endif %}
    {% if cities %}
        {% for city in cities %}
                <a class="marker" target="_blank" href="http://maps.google.com/?q={{ city.lat }},{{ city.lng }}"
                    data-type="city" data-lat="{{ city.lat }}" data-lng="{{ city.lng }}"
                    data-object-url="{{ reverse('transmitters:city-details', args=[city.pk]) }}"
                    data-marker-label="{{ city.name }}"><i class="icon-map-marker"></i>{{ city }}</a>
        {% endfor %}
    {% endif %}
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}