@import "lib/mixins";
@import "lib/variables";

@whiteDark: #fcfcfc;
@whiteDarker: #fafafa;
@headerVerticalPadding: 8px;


.admin {
    h1, h2 {
      font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h1, h2, h3, h4 {
        font-weight: normal;
        border-bottom: 1px solid @grayLighter;
        padding-left: @headerVerticalPadding;
        /* text-indent: @headerVerticalPadding; */
    }
    .breadcrumbs {
        a {
            color: @white;
        }
        padding: 10px 0px;
    }
    #content {
        padding-top: 60px;
    }
    h1, h2, h3, legend {
        margin-bottom: 15px;
            a {
                display: inline-block;
                font-size: 12px;
                float: right;
                margin-right: 8px;
                margin-top: 7px;
                vertical-align: bottom;
            }
    }
    textarea {
        resize: vertical;
    }
    .breadcrumbs {
        color: @white;
    }
    a, .with-icon {
        i {
            margin-right: 3px;
        }
        i.icon-large {
            margin-right: 5px;
        }
    }
    .label {
        &-half-success { background-color: lighten(@successText, 20%); }
        &-half-success[href] { background-color: lighten(@successText, 10%); }

        &-half-warning { background-color: @yellow; }
        &-half-warning[href] { background-color: darken(@yellow, 10%); }

        &-alien {
            background-color: @grayLighter;
            color: #000;
            text-shadow: 0 -1px 0 rgba(200,200,200,.25);
            border: 1px solid @white;
            padding: 2px 10px;
        }
        &-alien[href] { background-color: #fff; }
    }
    a {
        color: @blueDark;
        i {
            color: @gray;
        }
    }
    .empty-label, .controls.empty {
        color: @grayLight;
        font-size: 13px;
    }
    .empty-label {
        padding-right: 0;
        text-align: center;
    }
    .table {
        border-bottom: 1px solid @grayLighter;
        table-layout: fixed;
        th, td {
            border-top: 1px solid @grayLighter;
            text-align: center;
        }
        th.first {
            text-align: left;
            padding-left: 18px;
        }
        td.first {
            text-align: left;
        }
        td.last {
            text-align: right;
        }
        td.crop {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .form-horizontal {
        legend {
            border-color: @whiteDarker;
            padding-left: @headerVerticalPadding;
            padding-right: @headerVerticalPadding;
        }
        &.details{
            .control-group {
                margin: 0px;
            }
            .controls {
                font-weight: bold;
                padding-top: 5px;
                small {
                    font-weight: normal;
                    color: @grayLight;
                }
                .help-block {
                    font-weight: normal;
                }
            }
            .controls.empty {
                font-weight: normal;
            }
        }
    }
    .no-items {
        border: @tableBorder;
        color: @grayLight;
        font-size: 16px;
        min-height: 20px;
        padding: 29px;
        text-align: center;
        text-shadow: 1px -1px 1px white;
    }
    .label.station-type.radiostation {
        background: @blueDark;
    }
    .label.station-type.tvstation {
        background: @orange;
    }
    .pagination {
        text-align: center;
        ul {
            box-shadow: none;
            li a{
                border-width: 0;
            }
            li:first-child a {
                border-width: 0;
            }
            li.active a {
                background: transparent;
                font-weight: bold;
            }
        }
        .special {
            line-height: 34px;
            margin-left: 20px;
        }
    }
    form#filter {
        #div_id_query {
            input {
                width: 48.61878453038674%;
                *width: 48.56559304102504%;
            }
            label {
                display: none;
            }
            .controls {
                margin: 0px;
                text-align: center;
            }
        }
        .checkboxes {
            margin-bottom: 20px;
            text-align: center;
            label {
                margin-left: 10px;
                margin-right: 10px;
            }
            label.checkbox  input {
                float: none;
                margin-right: 5px;
                vertical-align: top;
            }
            .controls {
                margin-left: 0px;
                text-align: center;
            }
            label.control-label {
                display: none;
            }
        }
        .actions {
            text-align: center;
        }
    }
    .modal {
        h1, h2, h3, h4 {
            border-bottom: 0 none;
        }
        .modal-header {
            color: @grayLight;
            //margin-bottom: 15px;
        }
        form .modal-body {
            padding-bottom: 0;
        }
        .modal-body .datepicker {
            position: absolute;
        }
        .message-container {
            position: static;
            margin: 15px 15px 0 15px;
            width: auto;
            .close {
                display: none;
            }
            .messages {
                position: static;
                width: auto;
                .alert {
                    border-width: 1px 0;
                    .box-shadow(0 0 0 lighten(@black, 20%));
                    .opacity(100);
                    text-align: center;
                }
            }
        }
        a.cancel {
            color: @grayDark;
        }
    }
    #markerContent-overlay{
        margin: 0px 20px 0px 0px;
        a.heading {
            color: @pink;
            font-size: 14px;
        }
    }
    #markerContent-content{
        background: @white;
        padding: 10px 0px;
    }
}

body.actions #actions-container {
    td {
        .label-container {
            text-align: center;
            margin: 0;
            padding: 0;
            width: 250px;
            .label {
                display: inline-block;
                margin-left: 8px;
                width: 232px;
            }
            .label.action-info {
                i.action {
                    margin-left: 25px;
                }
            }
            .label.date {
                background: @grayLight;
                font-size: 9px;
                line-height: 9px;
                margin-top: 5px;
                padding: 2px 4px;
            }
        }
        &.action-message {
            text-align: left;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    &.diff-plus {
                        background: #cfc;
                    }
                    &.diff-minus {
                        background: #fdd;
                    }
                }
            }
        }
    }
    td.fist, th.first {
        width: 250px;
    }
}