@import "lib/mixins";
@import "lib/variables";

@whiteDark: #fcfcfc;
@whiteDarker: #fafafa;
@bodyBg: #dfded6;
@headerVerticalPadding: 8px;
@nav-pills-border-radius: 10px;
@brandColor: #dc0376;

.asteriskField {
    color: @red;
    padding-left: 3px;
}
h1, h2 {
    font-size: 22px;
}
h3, h4 {
    font-size: 16px;
}
h1, h2, h3 {
    font-weight: normal;
    padding-left: @headerVerticalPadding;
    /* text-indent: @headerVerticalPadding; */
}
h1.logo {
    img {
        width: 220px;
        margin-left: -30px;
    }
}
h4 {
    font-weight: normal;
}
a {
    color: @pink;
    text-decoration: none;
    &:hover {
        color: @black;
        text-decoration: none;
    }
}
a.with-icon {
    i {
        margin-right: 3px;
    }
    i.icon-large {
        margin-right: 5px;
    }
}
.formset.inline {
    .fields {
        display: inline-block;
        margin-bottom: 10px;
        width: 220px;
        vertical-align: top;
    }
    a.delete {
        display: inline-block;
        margin-top: 5px;
    }
    .subform {
        .fields {
            display: inline-block;
            margin-bottom: 10px;
            input.placeholder {
                .opacity(50);
            }
            .field-container.error {
                .formFieldState(@errorText, @errorText, @errorBackground);
            }
           .help-inline.error {
                color: @errorText;
                width: 210px;
                vertical-align: top;
            }
        }
    }
}
body {
    .btn.btn-primary {
        background: @pink;
        &:hover {
            background: @pinkLighter;
        }
    }
    background: @bodyBg;
    padding: 1%;
    font-size: 14px;
    color: @grayDark;
    .modal {
        h1, h2, h3, h4 {
            border-bottom: 0 none;
        }
        .modal-header {
            color: @grayLight;
            //margin-bottom: 15px;
        }
        form .modal-body {
            padding-bottom: 0;
        }
        .modal-body .datepicker {
            position: absolute;
        }
        .message-container {
            position: static;
            margin: 15px 15px 0 15px;
            width: auto;
            .close {
                display: none;
            }
            .messages {
                position: static;
                width: auto;
                .alert {
                    border-width: 1px 0;
                    .box-shadow(0 0 0 lighten(@black, 20%));
                    .opacity(100);
                    text-align: center;
                }
            }
        }
    }
    #main-column {
        position: relative;
        .hero-unit {
            padding: 5%;
            position: relative;
        }
        .search {
            margin-bottom: 15px;
            .show-genres-container {
                text-align: center;
                .hide-genres {
                    display: none;
                }
            }
            .genres-mobile {
                display: none;
            }
        }
        background: @white;
        padding: 0 1%;
        border-radius: 10px;
        .main-container {
            padding-bottom: 20px;
        }
        h1, h2, h3 {
            font-size: 16px;
        }
        .block-header {
            background: @black;
            color: @white;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:15px;
            a {
                color: @whiteDark;
                text-decoration: none;
            }
            h1, h2, h3 {
                margin: 0;
                display: inline-block;
                font-weight: bold;
            }
            .header-form {
                float: right;
                padding-top: 5px;
                form#filter {
                    label {
                        display: none;
                    }
                    .input-prepend {
                        margin-right: 20px;
                    }
                    input {
                        background: @grayDark;
                        color: @white;
                        border-color: @black;
                    }
                    span.add-on {
                        background: @grayDarker;
                        border: @black solid 1px;
                        vertical-align: middle;
                        padding: 4px;
                    }
                    .control-group {
                        margin: 0;
                        display: inline-block;
                        select {
                            background: @grayDark;
                            color: @white;
                            border-color: @black;
                        }
                    }
                }
                .header-fields {
                    margin-right: 20px;
                }
            }
        }
        .column-block-content {
            background: #f5f5f5;
            border-bottom-left-radius: 5px;
            clear: both;
            margin: 5px 0px 20px 0px;
        }
        .pagination {
            text-align: center;
            ul {
                box-shadow: none;
                li a{
                    border-width: 0;
                    background: inherit;
                }
                li:first-child a {
                    border-width: 0;
                }
                li.active a {
                    background: transparent;
                    font-weight: bold;
                }
            }
            .special {
                line-height: 34px;
                margin-left: 20px;
            }
        }
        ul.genres {
            list-style-type: none;
            margin: 0;
            padding: 0;
            > li {
                display: inline
            }
            .label-genre {
                background: @pink;
                color: @white;
            }
        }
        #context-menu {
            > li {
                > a {
                    .caret {
                        border-top-color: @pink;
                        border-bottom-color: @pink;
                    }
                }
                // Active state
                &.open > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @white;
                        background-color: @pink;
                        .caret {
                            border-top-color: @white;
                            border-bottom-color: @white;
                        }
                    }
                }
                &.active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @white;
                        background-color: @pink;
                        .caret {
                            border-top-color: @white;
                            border-bottom-color: @white;
                        }
                    }
                }
                ul.dropdown-menu {
                    li > a {
                        color: @pink;
                        &:hover {
                            color: @white;
                            background: @pink;
                        }
                    }
              }
            }
        }
        #main-menu.nav-pills {
            margin-bottom: 40px;
            > li {
                width: 18%;
                padding-right: 2%;
                    > a {
                        color: @white;
                        background: @black;
                        padding: 15px 15px;
                        border-radius: 0px;
                        border-top-left-radius: @nav-pills-border-radius;
                        border-bottom-right-radius: @nav-pills-border-radius;
                        .caret {
                            border-top-color: @white;
                            border-bottom-color: @white;
                        }
                    }
                    + li {
                        margin-left: 2px;
                    }

                    // Active state
                    &.open > a {
                        &,
                        &:hover,
                        &:focus {
                            color: @white;
                            background-color: @pink;
                            .caret {
                                border-top-color: @white;
                                border-bottom-color: @white;
                            }
                        }
                    }
                    &.active > a {
                        &,
                        &:hover,
                        &:focus {
                            color: @white;
                            background-color: @pink;
                            .caret {
                                border-top-color: @white;
                                border-bottom-color: @white;
                            }
                        }
                    }
            }
            > li.last {
                padding-right: 0;
            }
            ul.dropdown-menu {
                li > a {
                    color: @pink;
                    &:hover {
                        color: @white;
                        background: @pink;
                    }
                }
            }
        }
        .stations {
            padding-bottom: 15px;
        }
        .station-row {
            margin: 15px 15px 0px 15px;
            padding:10px;
            border-radius: 5px;
            background: @bodyBg;
            display: block;
            overflow: auto;
            &:hover {
                background: @white;
            }
            h4 {
                margin-top: 0;
                display: inline-block;
                form {
                    display: inline-block;
                }
            }
            p {
                padding-left: 10px;
            }
            a {
                padding-right: 10px;
            }
        }
        #right-column {
            img {
                max-width: 300px;
                width: 100%;
            }
        }

    }
    #google-ads-top {
        text-align: center;
    }
    .no-items {
        border: @tableBorder;
        color: @grayLight;
        font-size: 16px;
        min-height: 20px;
        padding: 29px;
        text-align: center;
        text-shadow: 1px -1px 1px white;
    }
    #markerContent-overlay{
        margin: 0px 20px 0px 0px;
        a.heading {
            color: @pink;
            font-size: 14px;
        }
    }
    #markerContent-content{
        background: @white;
        padding: 10px 0px;
        min-width: 300px;
    }
    #search-form{
        position: relative;
        label {
            display: none;
        }
        input[type=text] {
            display: block;
            width: 100%;
            min-height: 28px;
            .box-sizing(border-box);
        }
        ul.dropdown {
            list-style-type: none;
            margin: 0;
            position: absolute;
            top: 30px;
            left: 0;
            background: @whiteDark;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            li {
                padding: 2px 10px;
                margin: 5px 10px;
                background: @bodyBg;
                &:hover,
                &.selected {
                    background: @whiteDark;
                }
                img {
                    padding: 3px 10px 3px 3px;
                }
            }
            a {
                font-size: 14px;
            }
        }
    }
    .footer {
        ul {
            li {
                text-align: center;
            }
        }
    }
}

body.stations {
    form#filter {
        margin-bottom: 0;
    }
    .station-streams {
        h4 {
            padding: 5px 0px 5px 25px;
            border-radius: 5px;
            color: @white;
            margin:0 0 10px 0;
            background:@black;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
    .station-details{
        .station-description {
            margin-top: 20px;
            .gads-rectangle {
                min-width: 300px;
                min-height: 250px;
                padding:0 0 20px 20px;
            }
            p {
                text-align: justify;
                text-indent: 20px;
            }
        }
        .form-horizontal {
            legend {
                border-color: @whiteDarker;
                padding-left: @headerVerticalPadding;
                padding-right: @headerVerticalPadding;
            }
            &.details{
                .control-group {
                    margin: 0px;
                }
                .control-label {
                    text-align: left;
                }
                .controls {
                    font-weight: bold;
                    padding-top: 5px;
                    small {
                        font-weight: normal;
                        color: @grayLight;
                    }
                    .help-block {
                        font-weight: normal;
                    }
                }
                .controls.empty {
                    font-weight: normal;
                }
            }
      }
    }
    ul.playlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: 3px 0px;
            overflow: hidden;
            a {
                margin: 0;
                display: inline-block;
            }
        }
    }
    ul.other-streams {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
table.stations,
table.transmitters,
table.cities {
    th, td {
        border: none;
        &.last {
            text-align: right;
        }
        table {
            border-collapse: collapse;
            th, td {
                padding: 0px 5px 5px 5px !important;
            }
        }
    }
    tr.region {
        background: @bodyBg;
    }
}
.content {
    padding:20px;
    p {
        text-align: justify;
    }
}

.hero-unit {
    ul.genres {
        padding: 20px !important;
        text-align: center;
    }
}
a.player {
    color: white;
}
.ad-skyscrapper {
    position: absolute;
    width: 160px;
    right: -160px;
    top: 100px;
}
.ad-billboard {
  text-align: center;
  padding-bottom: 10px;
}
#right-column {
    .ad-rectangle{
        margin-bottom: 20px;
        text-align: center;
    }
}
span.star {
    i.icon-star {
        color: @pink !important;
        border-color: @pink !important;
    }
}
body.server-error {
    h1 {
        font-size: 128px;
        text-align: center;
    }
    #content {
        margin-top: 100px;
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
@font-face {
    font-family: neoSans;
    src: url(neoSans.otf);
}
@font-face {
    font-family: 'neoSansBoldItalic';
    src: url(../font/neoSansBoldItalic.otf);
}
.claim {
    font-family: neoSansBoldItalic;
    white-space: nowrap;
    font-size: 20px;
    @media(min-width: 768px) {
        font-size: 24px;
        position: absolute;
        top: 58px;
        display: inline-block;
    }
}
