.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.admin h1,
.admin h2 {
  font-size: 24px;
}
.admin h3 {
  font-size: 20px;
}
.admin h1,
.admin h2,
.admin h3,
.admin h4 {
  font-weight: normal;
  border-bottom: 1px solid #eeeeee;
  padding-left: 8px;
  /* text-indent: @headerVerticalPadding; */

}
.admin .breadcrumbs {
  padding: 10px 0px;
}
.admin .breadcrumbs a {
  color: #ffffff;
}
.admin #content {
  padding-top: 60px;
}
.admin h1,
.admin h2,
.admin h3,
.admin legend {
  margin-bottom: 15px;
}
.admin h1 a,
.admin h2 a,
.admin h3 a,
.admin legend a {
  display: inline-block;
  font-size: 12px;
  float: right;
  margin-right: 8px;
  margin-top: 7px;
  vertical-align: bottom;
}
.admin textarea {
  resize: vertical;
}
.admin .breadcrumbs {
  color: #ffffff;
}
.admin a i,
.admin .with-icon i {
  margin-right: 3px;
}
.admin a i.icon-large,
.admin .with-icon i.icon-large {
  margin-right: 5px;
}
.admin .label-half-success {
  background-color: #7aba7b;
}
.admin .label-half-success[href] {
  background-color: #58a959;
}
.admin .label-half-warning {
  background-color: #ffc40d;
}
.admin .label-half-warning[href] {
  background-color: #d9a400;
}
.admin .label-alien {
  background-color: #eeeeee;
  color: #000;
  text-shadow: 0 -1px 0 rgba(200, 200, 200, 0.25);
  border: 1px solid #ffffff;
  padding: 2px 10px;
}
.admin .label-alien[href] {
  background-color: #fff;
}
.admin a {
  color: #0064cd;
}
.admin a i {
  color: #555555;
}
.admin .empty-label,
.admin .controls.empty {
  color: #999999;
  font-size: 13px;
}
.admin .empty-label {
  padding-right: 0;
  text-align: center;
}
.admin .table {
  border-bottom: 1px solid #eeeeee;
  table-layout: fixed;
}
.admin .table th,
.admin .table td {
  border-top: 1px solid #eeeeee;
  text-align: center;
}
.admin .table th.first {
  text-align: left;
  padding-left: 18px;
}
.admin .table td.first {
  text-align: left;
}
.admin .table td.last {
  text-align: right;
}
.admin .table td.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.admin .form-horizontal legend {
  border-color: #fafafa;
  padding-left: 8px;
  padding-right: 8px;
}
.admin .form-horizontal.details .control-group {
  margin: 0px;
}
.admin .form-horizontal.details .controls {
  font-weight: bold;
  padding-top: 5px;
}
.admin .form-horizontal.details .controls small {
  font-weight: normal;
  color: #999999;
}
.admin .form-horizontal.details .controls .help-block {
  font-weight: normal;
}
.admin .form-horizontal.details .controls.empty {
  font-weight: normal;
}
.admin .no-items {
  border: #dddddd;
  color: #999999;
  font-size: 16px;
  min-height: 20px;
  padding: 29px;
  text-align: center;
  text-shadow: 1px -1px 1px #ffffff;
}
.admin .label.station-type.radiostation {
  background: #0064cd;
}
.admin .label.station-type.tvstation {
  background: #f89406;
}
.admin .pagination {
  text-align: center;
}
.admin .pagination ul {
  box-shadow: none;
}
.admin .pagination ul li a {
  border-width: 0;
}
.admin .pagination ul li:first-child a {
  border-width: 0;
}
.admin .pagination ul li.active a {
  background: transparent;
  font-weight: bold;
}
.admin .pagination .special {
  line-height: 34px;
  margin-left: 20px;
}
.admin form#filter #div_id_query input {
  width: 48.61878453038674%;
  *width: 48.56559304102504%;
}
.admin form#filter #div_id_query label {
  display: none;
}
.admin form#filter #div_id_query .controls {
  margin: 0px;
  text-align: center;
}
.admin form#filter .checkboxes {
  margin-bottom: 20px;
  text-align: center;
}
.admin form#filter .checkboxes label {
  margin-left: 10px;
  margin-right: 10px;
}
.admin form#filter .checkboxes label.checkbox input {
  float: none;
  margin-right: 5px;
  vertical-align: top;
}
.admin form#filter .checkboxes .controls {
  margin-left: 0px;
  text-align: center;
}
.admin form#filter .checkboxes label.control-label {
  display: none;
}
.admin form#filter .actions {
  text-align: center;
}
.admin .modal h1,
.admin .modal h2,
.admin .modal h3,
.admin .modal h4 {
  border-bottom: 0 none;
}
.admin .modal .modal-header {
  color: #999999;
}
.admin .modal form .modal-body {
  padding-bottom: 0;
}
.admin .modal .modal-body .datepicker {
  position: absolute;
}
.admin .modal .message-container {
  position: static;
  margin: 15px 15px 0 15px;
  width: auto;
}
.admin .modal .message-container .close {
  display: none;
}
.admin .modal .message-container .messages {
  position: static;
  width: auto;
}
.admin .modal .message-container .messages .alert {
  border-width: 1px 0;
  -webkit-box-shadow: 0 0 0 #333333;
  -moz-box-shadow: 0 0 0 #333333;
  box-shadow: 0 0 0 #333333;
  opacity: 1;
  filter: alpha(opacity=100);
  text-align: center;
}
.admin .modal a.cancel {
  color: #333333;
}
.admin #markerContent-overlay {
  margin: 0px 20px 0px 0px;
}
.admin #markerContent-overlay a.heading {
  color: #dc0376;
  font-size: 14px;
}
.admin #markerContent-content {
  background: #ffffff;
  padding: 10px 0px;
}
body.actions #actions-container td .label-container {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 250px;
}
body.actions #actions-container td .label-container .label {
  display: inline-block;
  margin-left: 8px;
  width: 232px;
}
body.actions #actions-container td .label-container .label.action-info i.action {
  margin-left: 25px;
}
body.actions #actions-container td .label-container .label.date {
  background: #999999;
  font-size: 9px;
  line-height: 9px;
  margin-top: 5px;
  padding: 2px 4px;
}
body.actions #actions-container td.action-message {
  text-align: left;
}
body.actions #actions-container td.action-message ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.actions #actions-container td.action-message ul li.diff-plus {
  background: #cfc;
}
body.actions #actions-container td.action-message ul li.diff-minus {
  background: #fdd;
}
body.actions #actions-container td.fist,
body.actions #actions-container th.first {
  width: 250px;
}
