#sm2-container object,
#sm2-container embed {
    top: -9999em;
    left: -9999em;
    position: absolute;
}

a.sm2_link {
    display:inline-block;
    min-height:16px;
    vertical-align: middle;
    background-color:#dc0376;
    border-radius:3px;
    padding: 6px 6px 6px 25px;
    _width:19em; /* IE 6 */
    text-decoration:none;
    font-weight:normal;
    color:#f6f9ff;
    background-image:url(../img/sm2/icon_play.png);
    background-position:3px 50%;
    background-repeat:no-repeat;
    _background-image:url(../img/sm2/icon_play.gif); /* IE 6 */
    margin: 0 0 10px 0 !important;
}
a.sm2_link {
    /* safari 3.1+ fun (or, proprietary crap. TBD.) */
    -webkit-transition-property: hover;
    -webkit-transition: background-color 0.15s linear;
    -moz-transition: background-color 0.15s linear 0s; /* firefox 4 */
    -o-transition-property: background-color; /* opera 10.5 */
    -o-transition-duration: 0.15s;
}
a.sm2_paused:hover,
a.sm2_link:hover {
    background-image:url(../img/sm2/icon_play.png);
    background-position: 3px 50%;
    background-repeat:no-repeat;
    _background-image:url(../img/sm2/icon_play.gif); /* IE 6 */
}
a.sm2_link:hover {
    /* default hover color, if you'd like.. */
    background-color:#a70f3e;
    color:#fff;
}
a.sm2_paused {
    background-color:#999;
}
a.sm2_paused:hover {
    background:#a70f3e url(../img/sm2/icon_play.png) no-repeat 3px 50%;
    _background-image:url(../img/sm2/icon_play.gif);
}
a.sm2_playing,
a.sm2_playing:hover {
    background:#a70f3e url(../img/sm2/icon_pause.png) no-repeat 3px 50%;
    _background-image:url(../img/sm2/icon_pause.gif);
    text-decoration:none;
}
a.sm2_paused:hover,
a.sm2_link:hover {
    background-image:url(../img/sm2/icon_play.png);
    background-position:3px 50%;
    background-repeat:no-repeat;
    _background-image:url(../img/sm2/icon_play.gif); /* IE 6 */
}