.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.asteriskField {
  color: #9d261d;
  padding-left: 3px;
}
h1,
h2 {
  font-size: 22px;
}
h3,
h4 {
  font-size: 16px;
}
h1,
h2,
h3 {
  font-weight: normal;
  padding-left: 8px;
  /* text-indent: @headerVerticalPadding; */

}
h1.logo img {
  width: 220px;
  margin-left: -30px;
}
h4 {
  font-weight: normal;
}
a {
  color: #dc0376;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a.with-icon i {
  margin-right: 3px;
}
a.with-icon i.icon-large {
  margin-right: 5px;
}
.formset.inline .fields {
  display: inline-block;
  margin-bottom: 10px;
  width: 220px;
  vertical-align: top;
}
.formset.inline a.delete {
  display: inline-block;
  margin-top: 5px;
}
.formset.inline .subform .fields {
  display: inline-block;
  margin-bottom: 10px;
}
.formset.inline .subform .fields input.placeholder {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.formset.inline .subform .fields .field-container.error > label,
.formset.inline .subform .fields .field-container.error .help-block,
.formset.inline .subform .fields .field-container.error .help-inline {
  color: #b94a48;
}
.formset.inline .subform .fields .field-container.error .checkbox,
.formset.inline .subform .fields .field-container.error .radio,
.formset.inline .subform .fields .field-container.error input,
.formset.inline .subform .fields .field-container.error select,
.formset.inline .subform .fields .field-container.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.formset.inline .subform .fields .field-container.error .checkbox:focus,
.formset.inline .subform .fields .field-container.error .radio:focus,
.formset.inline .subform .fields .field-container.error input:focus,
.formset.inline .subform .fields .field-container.error select:focus,
.formset.inline .subform .fields .field-container.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.formset.inline .subform .fields .field-container.error .input-prepend .add-on,
.formset.inline .subform .fields .field-container.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.formset.inline .subform .fields .help-inline.error {
  color: #b94a48;
  width: 210px;
  vertical-align: top;
}
body {
  background: #dfded6;
  padding: 1%;
  font-size: 14px;
  color: #333333;
}
body .btn.btn-primary {
  background: #dc0376;
}
body .btn.btn-primary:hover {
  background: #c34d72;
}
body .modal h1,
body .modal h2,
body .modal h3,
body .modal h4 {
  border-bottom: 0 none;
}
body .modal .modal-header {
  color: #999999;
}
body .modal form .modal-body {
  padding-bottom: 0;
}
body .modal .modal-body .datepicker {
  position: absolute;
}
body .modal .message-container {
  position: static;
  margin: 15px 15px 0 15px;
  width: auto;
}
body .modal .message-container .close {
  display: none;
}
body .modal .message-container .messages {
  position: static;
  width: auto;
}
body .modal .message-container .messages .alert {
  border-width: 1px 0;
  -webkit-box-shadow: 0 0 0 #333333;
  -moz-box-shadow: 0 0 0 #333333;
  box-shadow: 0 0 0 #333333;
  opacity: 1;
  filter: alpha(opacity=100);
  text-align: center;
}
body #main-column {
  position: relative;
  background: #ffffff;
  padding: 0 1%;
  border-radius: 10px;
}
body #main-column .hero-unit {
  padding: 5%;
  position: relative;
}
body #main-column .search {
  margin-bottom: 15px;
}
body #main-column .search .show-genres-container {
  text-align: center;
}
body #main-column .search .show-genres-container .hide-genres {
  display: none;
}
body #main-column .search .genres-mobile {
  display: none;
}
body #main-column .main-container {
  padding-bottom: 20px;
}
body #main-column h1,
body #main-column h2,
body #main-column h3 {
  font-size: 16px;
}
body #main-column .block-header {
  background: #000000;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
body #main-column .block-header a {
  color: #fcfcfc;
  text-decoration: none;
}
body #main-column .block-header h1,
body #main-column .block-header h2,
body #main-column .block-header h3 {
  margin: 0;
  display: inline-block;
  font-weight: bold;
}
body #main-column .block-header .header-form {
  float: right;
  padding-top: 5px;
}
body #main-column .block-header .header-form form#filter label {
  display: none;
}
body #main-column .block-header .header-form form#filter .input-prepend {
  margin-right: 20px;
}
body #main-column .block-header .header-form form#filter input {
  background: #333333;
  color: #ffffff;
  border-color: #000000;
}
body #main-column .block-header .header-form form#filter span.add-on {
  background: #222222;
  border: #000000 solid 1px;
  vertical-align: middle;
  padding: 4px;
}
body #main-column .block-header .header-form form#filter .control-group {
  margin: 0;
  display: inline-block;
}
body #main-column .block-header .header-form form#filter .control-group select {
  background: #333333;
  color: #ffffff;
  border-color: #000000;
}
body #main-column .block-header .header-form .header-fields {
  margin-right: 20px;
}
body #main-column .column-block-content {
  background: #f5f5f5;
  border-bottom-left-radius: 5px;
  clear: both;
  margin: 5px 0px 20px 0px;
}
body #main-column .pagination {
  text-align: center;
}
body #main-column .pagination ul {
  box-shadow: none;
}
body #main-column .pagination ul li a {
  border-width: 0;
  background: inherit;
}
body #main-column .pagination ul li:first-child a {
  border-width: 0;
}
body #main-column .pagination ul li.active a {
  background: transparent;
  font-weight: bold;
}
body #main-column .pagination .special {
  line-height: 34px;
  margin-left: 20px;
}
body #main-column ul.genres {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body #main-column ul.genres > li {
  display: inline;
}
body #main-column ul.genres .label-genre {
  background: #dc0376;
  color: #ffffff;
}
body #main-column #context-menu > li > a .caret {
  border-top-color: #dc0376;
  border-bottom-color: #dc0376;
}
body #main-column #context-menu > li.open > a,
body #main-column #context-menu > li.open > a:hover,
body #main-column #context-menu > li.open > a:focus {
  color: #ffffff;
  background-color: #dc0376;
}
body #main-column #context-menu > li.open > a .caret,
body #main-column #context-menu > li.open > a:hover .caret,
body #main-column #context-menu > li.open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body #main-column #context-menu > li.active > a,
body #main-column #context-menu > li.active > a:hover,
body #main-column #context-menu > li.active > a:focus {
  color: #ffffff;
  background-color: #dc0376;
}
body #main-column #context-menu > li.active > a .caret,
body #main-column #context-menu > li.active > a:hover .caret,
body #main-column #context-menu > li.active > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body #main-column #context-menu > li ul.dropdown-menu li > a {
  color: #dc0376;
}
body #main-column #context-menu > li ul.dropdown-menu li > a:hover {
  color: #ffffff;
  background: #dc0376;
}
body #main-column #main-menu.nav-pills {
  margin-bottom: 40px;
}
body #main-column #main-menu.nav-pills > li {
  width: 18%;
  padding-right: 2%;
}
body #main-column #main-menu.nav-pills > li > a {
  color: #ffffff;
  background: #000000;
  padding: 15px 15px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
body #main-column #main-menu.nav-pills > li > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body #main-column #main-menu.nav-pills > li + li {
  margin-left: 2px;
}
body #main-column #main-menu.nav-pills > li.open > a,
body #main-column #main-menu.nav-pills > li.open > a:hover,
body #main-column #main-menu.nav-pills > li.open > a:focus {
  color: #ffffff;
  background-color: #dc0376;
}
body #main-column #main-menu.nav-pills > li.open > a .caret,
body #main-column #main-menu.nav-pills > li.open > a:hover .caret,
body #main-column #main-menu.nav-pills > li.open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body #main-column #main-menu.nav-pills > li.active > a,
body #main-column #main-menu.nav-pills > li.active > a:hover,
body #main-column #main-menu.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #dc0376;
}
body #main-column #main-menu.nav-pills > li.active > a .caret,
body #main-column #main-menu.nav-pills > li.active > a:hover .caret,
body #main-column #main-menu.nav-pills > li.active > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body #main-column #main-menu.nav-pills > li.last {
  padding-right: 0;
}
body #main-column #main-menu.nav-pills ul.dropdown-menu li > a {
  color: #dc0376;
}
body #main-column #main-menu.nav-pills ul.dropdown-menu li > a:hover {
  color: #ffffff;
  background: #dc0376;
}
body #main-column .stations {
  padding-bottom: 15px;
}
body #main-column .station-row {
  margin: 15px 15px 0px 15px;
  padding: 10px;
  border-radius: 5px;
  background: #dfded6;
  display: block;
  overflow: auto;
}
body #main-column .station-row:hover {
  background: #ffffff;
}
body #main-column .station-row h4 {
  margin-top: 0;
  display: inline-block;
}
body #main-column .station-row h4 form {
  display: inline-block;
}
body #main-column .station-row p {
  padding-left: 10px;
}
body #main-column .station-row a {
  padding-right: 10px;
}
body #main-column #right-column img {
  max-width: 300px;
  width: 100%;
}
body #google-ads-top {
  text-align: center;
}
body .no-items {
  border: #dddddd;
  color: #999999;
  font-size: 16px;
  min-height: 20px;
  padding: 29px;
  text-align: center;
  text-shadow: 1px -1px 1px #ffffff;
}
body #markerContent-overlay {
  margin: 0px 20px 0px 0px;
}
body #markerContent-overlay a.heading {
  color: #dc0376;
  font-size: 14px;
}
body #markerContent-content {
  background: #ffffff;
  padding: 10px 0px;
  min-width: 300px;
}
body #search-form {
  position: relative;
}
body #search-form label {
  display: none;
}
body #search-form input[type=text] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body #search-form ul.dropdown {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 0;
  background: #fcfcfc;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
body #search-form ul.dropdown li {
  padding: 2px 10px;
  margin: 5px 10px;
  background: #dfded6;
}
body #search-form ul.dropdown li:hover,
body #search-form ul.dropdown li.selected {
  background: #fcfcfc;
}
body #search-form ul.dropdown li img {
  padding: 3px 10px 3px 3px;
}
body #search-form ul.dropdown a {
  font-size: 14px;
}
body .footer ul li {
  text-align: center;
}
body.stations form#filter {
  margin-bottom: 0;
}
body.stations .station-streams h4 {
  padding: 5px 0px 5px 25px;
  border-radius: 5px;
  color: #ffffff;
  margin: 0 0 10px 0;
  background: #000000;
}
body.stations .station-streams ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.stations .station-details .station-description {
  margin-top: 20px;
}
body.stations .station-details .station-description .gads-rectangle {
  min-width: 300px;
  min-height: 250px;
  padding: 0 0 20px 20px;
}
body.stations .station-details .station-description p {
  text-align: justify;
  text-indent: 20px;
}
body.stations .station-details .form-horizontal legend {
  border-color: #fafafa;
  padding-left: 8px;
  padding-right: 8px;
}
body.stations .station-details .form-horizontal.details .control-group {
  margin: 0px;
}
body.stations .station-details .form-horizontal.details .control-label {
  text-align: left;
}
body.stations .station-details .form-horizontal.details .controls {
  font-weight: bold;
  padding-top: 5px;
}
body.stations .station-details .form-horizontal.details .controls small {
  font-weight: normal;
  color: #999999;
}
body.stations .station-details .form-horizontal.details .controls .help-block {
  font-weight: normal;
}
body.stations .station-details .form-horizontal.details .controls.empty {
  font-weight: normal;
}
body.stations ul.playlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.stations ul.playlist li {
  padding: 3px 0px;
  overflow: hidden;
}
body.stations ul.playlist li a {
  margin: 0;
  display: inline-block;
}
body.stations ul.other-streams {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.stations th,
table.transmitters th,
table.cities th,
table.stations td,
table.transmitters td,
table.cities td {
  border: none;
}
table.stations th.last,
table.transmitters th.last,
table.cities th.last,
table.stations td.last,
table.transmitters td.last,
table.cities td.last {
  text-align: right;
}
table.stations th table,
table.transmitters th table,
table.cities th table,
table.stations td table,
table.transmitters td table,
table.cities td table {
  border-collapse: collapse;
}
table.stations th table th,
table.transmitters th table th,
table.cities th table th,
table.stations td table th,
table.transmitters td table th,
table.cities td table th,
table.stations th table td,
table.transmitters th table td,
table.cities th table td,
table.stations td table td,
table.transmitters td table td,
table.cities td table td {
  padding: 0px 5px 5px 5px !important;
}
table.stations tr.region,
table.transmitters tr.region,
table.cities tr.region {
  background: #dfded6;
}
.content {
  padding: 20px;
}
.content p {
  text-align: justify;
}
.hero-unit ul.genres {
  padding: 20px !important;
  text-align: center;
}
a.player {
  color: white;
}
.ad-skyscrapper {
  position: absolute;
  width: 160px;
  right: -160px;
  top: 100px;
}
.ad-billboard {
  text-align: center;
  padding-bottom: 10px;
}
#right-column .ad-rectangle {
  margin-bottom: 20px;
  text-align: center;
}
span.star i.icon-star {
  color: #dc0376 !important;
  border-color: #dc0376 !important;
}
body.server-error h1 {
  font-size: 128px;
  text-align: center;
}
body.server-error #content {
  margin-top: 100px;
}
body.server-error #content p {
  font-size: 16px;
  line-height: 24px;
}
@font-face {
  font-family: neoSans;
  src: url(neoSans.otf);
}
@font-face {
  font-family: 'neoSansBoldItalic';
  src: url(../font/neoSansBoldItalic.otf);
}
.claim {
  font-family: neoSansBoldItalic;
  white-space: nowrap;
  font-size: 20px;
}
@media (min-width: 768px) {
  .claim {
    font-size: 24px;
    position: absolute;
    top: 58px;
    display: inline-block;
  }
}
