{% from 'bootstrap/macros.html' import field_errors, render_help_text %}
<div id="div_{{ field.auto_id }}" class="control-group{% if field.errors %} error{% endif %}{% if field.css_classes() %} {{ field.css_classes() }}{% endif %}">
    <label for="{{ field.auto_id }}" class="control-label {% if field.field.required %}requiredField{% endif %}">{{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
    <div class="controls">
    {% for choice in field.field.choices %}
        <label class="checkbox {{ choice[0] }}{% if inline %} inline{% endif %}">
           <input type="checkbox" {% if choice[0] in field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ loop.index }}" value="{{ choice[0] }}">{{ choice[1] }}
        </label>
    {% endfor %}
    {{ field_errors(field) }}
    {{ render_help_text(help_text) }}
    </div>
</div>
