{% from 'bootstrap/macros.html' import field_errors, render_help_text with context %}

{% if inline %}
<label class="checkbox inline">
    {{ field|safe }}
    {{ field.label|safe }}
    {{ field_errors(field) }}
</label>
{% else %}
<div id="div_{{ field.auto_id }}" class="control-group {% if field.errors %}error{% endif %} {% if field.css_classes() %}{{ field.css_classes() }}{% endif %}">
    <label class="control-label {% if field.field.required %}requiredField{% endif %}" for="{{ field.auto_id }}">{{ field.label|safe }}</label>
    <div class="controls" {% if flat_attrs %}{{ flat_attrs|safe }}{% endif %}>
        <label class="checkbox ">
            {{ field|safe }}
            {{ field_errors(field) }}
        </label>
        {{ render_help_text(help_text) }}
    </div>
</div>
{% endif %}
