{% from 'bootstrap/macros.html' import detail with context %}

{% if grouped_details %}
    {% for legend, fields in details %}
<fieldset>
        {% if legend != '' %}
    <legend>{{ legend }}</legend>
        {% endif %}
        {% for field in fields %}
    {{ detail(field['label'], field['value'], help_text=field['help_text']) }}
        {% endfor %}
</fieldset>
    {% endfor %}
{% else %}
    {% for field in details %}
        {{ detail(field['label'], field['value'], help_text=field.get('help_text')) }}
    {% endfor %}
{% endif %}
