{% from 'bootstrap/macros.html' import field_errors, render_help_text with context %}

<div id="div_{{ field.auto_id }}" class="control-group {% if field.errors %}error{% endif %} {% if field.css_classes() %}{{ field.css_classes() }}{% endif %}">
{% block field_body %}
    {# spaceless label #}
    <label for="{{ field.auto_id }}" class="control-label {% if field.field.required %}requiredField{% endif %}">{{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
    <div class="controls" {% if flat_attrs %}{{ flat_attrs|safe }}{% endif %}>
{% block controls %}
        {{ field|safe }}
        {{ field_errors(field) }}
        {{ render_help_text(help_text) }}
{% endblock controls %}
    </div>
{% endblock field_body %}
</div>