{% from 'bootstrap/macros.html' import non_field_errors %}

{% if display_form_errors %}
{{ non_field_errors(form.non_field_errors()) }}
{% endif %}

{% for legend,fields in fieldsets %}
<fieldset>
    {% if legend != '' %}
    <legend>{{ legend }}</legend>
    {% endif %}
    {% for field in fields %}
        {% if field.name in fields_config %}
            {{ field|bootstrap.field(**fields_config[field.name]) }}
        {% else %}
            {{ field|bootstrap.field() }}
        {% endif %}
    {% endfor %}
</fieldset>
{% endfor %}

{% for field in fields %}
    {% if field.name in fields_config %}
        {{ field|bootstrap.field(**fields_config[field.name]) }}
    {% else %}
        {{ field|bootstrap.field() }}
    {% endif %}
{% endfor %}

