{% macro field_errors(field) %}
    {% for error in field.errors %}
        <span id="error_{{ loop.counter }}_{{ field.auto_id }}" class="help-inline error">{{ error|safe }}</span>
    {% endfor %}
{% endmacro %}

{% macro render_help_text(help_text) %}
    {% if help_text %}
    <span class="help-block">{{ help_text|safe }}</span>
    {% endif %}
{% endmacro %}

{% macro non_field_errors(errors) %}
    {% if errors %}
<div class="alert alert-error">
    {% for error in errors %}
        <div>{{ error|safe }}</div>
    {% endfor %}
</div>
    {% endif %}
{% endmacro %}

{% macro form_actions(label, cancel_url, delete_form=False) %}
<div class="form-actions">
    {% if cancel_url %}
    <a class="cancel btn" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
    {% endif %}
    {% if delete_form %}
    <input class="btn btn-danger" type="submit" value="{{ label|default(_('Delete')) }}" />
    {% else %}
    <input class="btn btn-primary" type="submit" value="{{ label|default(_('Save')) }}" />
    {% endif %}
</div>
{% endmacro %}

{% macro detail(label=None, value=None, edit=None, help_text=None) %}
<div class="control-group">
    <div class="control-label">{% if label %}{{ label }}{% endif %}</div>
    <div class="controls{% if value is none or value == ''  %} empty{% endif %}">
        {% if value is none or  value == '' %}
            ----------
        {% else %}
            {{ value|value|safe }}
        {% endif %}
        {% if help_text %}
            <span class="help-block">{{ help_text|safe }}</span>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro alert(message) %}
<div class="alert alert-{{ message.tags }}">
    <a class="close" data-dismiss="alert" href="#">×</a>
    {{ message|safe }}
</div>
{% endmacro %}

{% macro membership_status(user, station) %}
    {% if station.owner == user %}
        {{ _('owner') }}
    {% endif %}
    {% if station.maintainer == user %}
        {{ _('maintainer') }}
    {% endif %}
    {% if station.owner != user and station.maintainer != user %}
        {{ _('member') }}
    {% endif %}
{% endmacro %}
