{% extends "base.html" %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block body_class %}{{ super() }} login {% endblock %}

{% block login %}{% endblock %}

{% block content %}
<div class="block-header">
<h3>{{ _('Login to nadaje.com') }}</h3>
</div>
<div class="column-block-content">
    <div class="row">
        <div class="span8 login">
            <div class="content">
                <form method="post" class="form-horizontal">
                    {{ csrftoken() }}
                    {{ form|bootstrap.form() }}
                    <div class="control-group">
                        <div class="controls">
                            <a href="{{ reverse('passwd-reset-request') }}">{{ _('I forgot my password') }}</a> |
                            <a href="{{ reverse('user-signup') }}">{{ _('Create account') }}</a>
                        </div>
                    </div>
                    {{ form_actions(label=_('Login')) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
