{% extends "base.html" %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block body_class %}{{ super() }} register{% endblock %}

{% block content %}
<div class="block-header">
<h3>{{ _('Request reset password') }}</h3>
</div>
<div class="column-block-content">
    <div class="row">
        <div class="span8 login">
            <div class="content">
                <form method="post" class="form-horizontal">
                    {{ csrftoken() }}
                    {{ form|bootstrap.form() }}
                    {{ form_actions(label=_('Send request')) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
