{% extends "admin/base.html" %}
{% set active_tab='stations' %}

{% block extra_tabs %}
<li class="pull-right"><a href="{{ reverse('admin:station-type-select') }}" class="station-add with-icon"><i class="icon-plus-sign"></i>{{ _('Add') }}</a></li>
{% endblock %}