{% extends "admin/stations/base.html" %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'liveForm'], function($, utils, settings) {
        $('form#filter').liveForm({
            beforeSubmit: function() {
                utils.blockElement($('#stations-container'));
            },
            success: function(response) {
                $('#stations-container').after(utils.filterHtml(response, '#stations-container')).remove();
            }
        }).find('[type="submit"]').hide();
    });
</script>
{% endblock %}

{% block content %}
<form action="{{ reverse('admin:station-index') }}" class="well form-horizontal" id="filter" method="get">
    <input type="hidden" name="request_marker" value="mark" />
    {{ filter_form | bootstrap.form('query') }}
    <div class="row checkboxes">
    {% with field = filter_form.sub_types %}
        {% for choice in field.field.choices %}
        <label class="checkbox inline">
            <input type="checkbox" {% if field.value() and choice[0] in field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ loop.index }}" value="{{ choice[0] }}">
            <span class="label station-type {{ choice[0] }}">{{ choice[1] }}</span>
        </label>
        {% endfor %}
    {% endwith %}
    {% with field = filter_form.recommended %}
        <label class="checkbox inline">
            <input type="checkbox" {% if field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}">
            <span class="label label-success">{{ field.html_name }}</span>
        </label>
    {% endwith %}
    </div>
    <div class="row checkboxes">
        {% with field = filter_form.genres %}
            {% for choice in field.field.choices %}
        <label class="checkbox inline">
            <input type="checkbox" {% if field.value() and choice[0] in field.value() %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ loop.index }}" value="{{ choice[0] }}">
            <span class="label genre{{ choice[0] }}">{{ choice[1] }}</span>
        </label>
            {% endfor %}
    {% endwith %}
    </div>
    <div class="actions">
        <button type="submit" class="btn"><i class="icon-search"></i> {{ _('Apply Filter') }}</button>
    </div>
</form>
    {% set stations_sorting=get_sorting(stations, request, ['name', 'city'], ['name']) %}
    {% set stations_pagination=get_pagination(stations_sorting.sort(), request, paginate_by=20, results_limit=200) %}
<div id="stations-container">
    <table class="table table-striped" summary="stations">
        <thead>
            <tr>
                <th class="first">{{ stations_sorting.anchor('name', _('name')) }}</th>
                <th>{{ _('type') }}</th>
                <th>{{ stations_sorting.anchor('city', _('city')) }}</th>
                <th>{{ _('country') }}</th>
                <th>{{ _('public') }}</th>
            </tr>
        </thead>
        <tbody>
    {% for station in stations_pagination.paginate() %}
        {% with station=station.get_subtype_instance() %}
            <tr>
                <td class="first">
            {% if filter_form.is_valid() %}
                    <a href="{{ reverse('admin:station-details', args=[station.pk]) }}"><span class="station-name">{{ station.name | substring_marker(filter_form.cleaned_data.get('query','')) }}</span></a>
            {% else %}
                    <a href="{{ reverse('admin:station-details', args=[station.pk]) }}"><span class="station-name">{{ station.name }}</span></a>
            {% endif %}
                </td>
                <td>
            {% if 'radiostation' in station.subtype_attr %}
                    <span class="label station-type radiostation">{{ _('radio station') }}</span>
            {% elif 'tvstation' in station.subtype_attr %}
                    <span class="label station-type  tvstation">{{ _('tv station') }}</span>
            {% endif %}
                </td>
                <td>
            {% if filter_form.is_valid() %}
                    {{ station.city | substring_marker(filter_form.cleaned_data.get('query','')) }}
            {% else %}
                    {{ station.city }}
            {% endif %}
                </td>
                <td>
                {{ station.get_country_display() }}
                </td>
                <td>
                    <i class="{% if station.public %}icon-ok-sign{% else %}icon-minus-sign{% endif %}"></i>
                </td>
            </tr>
        {% endwith %}
    {% endfor %}
        </tbody>
    </table>
    {{ stations_pagination.pagination() }}
</div>
{% endblock %}