{% extends "admin/stations/base.html" %}
{% from "admin/macros.html" import inline_formset %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block breadcrumbs %}
<a href="{{ reverse('admin') }}" class="with-icon">{{ _('Dashboard') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Add station') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Add station') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ non_field_errors(station_form.non_field_errors()) }}
    <div class="row">
        <div class="span6">
            {{ station_form | bootstrap.subform((_('General info'), ['name', 'description', 'meta_description', 'recommended', 'public'])) }}
    {% if 'genres' in station_form.fields %}
            {{ station_form | bootstrap.subform(('', ['genres'])) }}
    {% endif %}
    {% if 'typ' in station_form.fields %}
            {{ station_form | bootstrap.subform(('', ['typ'])) }}
    {% endif %}
        </div>
        <div class="span6">
            {{ station_form | bootstrap.subform((_('Contact info'), ['address', 'postal_code',
                                                                     'city', 'country', 'email', 'phone', 'fax', 'www'])) }}
        </div>
        <div class="span12">
            {{ form_actions(cancel_url=cancel_url) }}
        </div>
    </div>
</form>
{% endblock %}