{% extends "admin/stations/base.html" %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery'], function($) {
        $(function(){
            if ($('#id_use_existing_location').not(':checked')) {
                $('.existing-location-form-container').hide();
            }
            $('#id_use_existing_location').change(function() {
                if ($(this).is(':checked')) {
                    $('.existing-location-form-container').slideDown();
                    $('.new-location-form-container').slideUp();
                } else {
                    $('.existing-location-form-container').slideUp();
                    $('.new-location-form-container').slideDown();
                }
            });
        });
    })
</script>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:station-index') }}" class="with-icon">{{ _('Stations') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ reverse('admin:station-details', args=[station.pk]) }}" class="with-icon">{{ _('Station details') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Add transmitter to station') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Add transmitter to station') }} chuj</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ non_field_errors(location_form.non_field_errors()) }}
    {{ non_field_errors(location_select_form.non_field_errors()) }}
    {{ non_field_errors(form.non_field_errors()) }}
    {{ form | bootstrap.subform() }}
    <legend>{{ _('Location') }}</legend>
    {{ use_existing_location_form | bootstrap.form() }}
    <div class="new-location-form-container">
        {{ location_form | bootstrap.subform() }}
    </div>
    <div class="existing-location-form-container">
        {{ location_select_form | bootstrap.subform() }}
    </div>
    {{ form_actions(cancel_url=cancel_url) }}
</form>
{% endblock %}