{% extends "admin/stations/base.html" %}
{% from "admin/macros.html" import inline_formset %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/select2.css">
<script type="text/javascript">
    require(['jquery', 'select/select2.min'{% if LANGUAGE_CODE == 'pl' %}, 'select/select2_locale_pl'{% endif %}], function($){
        $(function(){
            function formatResult(item){
                return item.username;
            }
            function formatSelection(item){
                return item.username;
            }
            var addedBy = $('#id_added_by');
            addedBy.select2({
                minimumInputLength: 3,
                id: function(item){
                    return item.id;
                },
                ajax: {
                    url: '{{ reverse('admin:station-edit', args=[station.pk]) }}',
                    dataType: 'json',
                    data: function (term, page){
                        return {
                            q: term
                        };
                    },
                    results: function (data, page){
                        return {results: data};
                    }
                },
                initSelection: function(element, callback){
                    var id = $(element).val();
                    if (id !== undefined){
                        $.ajax({
                            url: '{{ reverse('admin:station-edit', args=[station.pk]) }}',
                            data: {'userId': id},
                            dataType: 'json'
                        }).done(function(data){
                            callback(data);
                        });
                    }
                },
                formatSelection: formatSelection,
                formatResult: formatResult
            });
        });
    })
</script>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ reverse('admin') }}" class="with-icon">{{ _('Dashboard') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Edit station') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Edit station') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ non_field_errors(station_form.non_field_errors()) }}
    <div class="row">
        <div class="span6">
            {{ station_form | bootstrap.subform((_('General info'), ['name', 'description', 'meta_description', 'genres', 'recommended', 'public', 'added_by'])) }}
    {% if 'typ' in station_form.fields %}
            {{ station_form | bootstrap.subform(('', ['typ'])) }}
    {% endif %}
        </div>
        <div class="span6">
            {{ station_form | bootstrap.subform((_('Contact info'), ['address', 'postal_code',
                                                                  'city', 'country', 'email', 'phone', 'fax', 'www'])) }}
        </div>
        <div class="span12">
            {{ form_actions(cancel_url=cancel_url) }}
        </div>
    </div>
</form>
{% endblock %}