{% extends "admin/stations/base.html" %}
{% from "admin/macros.html" import empty_label %}
{% from 'bootstrap/macros.html' import detail with context %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'modal'], function($) {
        $(function() {
            $('.delete, .edit, .transmitter-edit, .transmitter-delete, .stream-add, .image-add').modalEdit();
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/inlineplayer.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flashblock.css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/soundmanager2-jsmin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/inlineplayer.js"></script>

{% endblock %}

{% block breadcrumbs %}
<a href="{{ reverse('admin') }}" class="with-icon">{{ _('Dashboard') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Station details') }}</a>
{% endblock %}

{% block content %}
<div id="sm2-container">
    <!-- SM2 flash goes here -->
</div>

<h1>
    {{ _('Station details') }}
    <a href="{{ reverse('admin:station-delete', args=[station.pk]) }}" class="delete with-icon"><i class="icon-remove-sign"></i>{{ _('Delete') }}</a>
    <a href="{{ reverse('admin:station-edit', args=[station.pk]) }}" class="station-edit with-icon"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
</h1>
<div class="form-horizontal details row">
    <div class="span6">
        {{ station|object_details(
            ('', ['name', 'description', 'meta_description', 'recommended'])
        )}}
        <div class="control-group">
            <div class="control-label">{{ _('Added by') }}</div>
            <div class="controls">
                {{ station.added_by.full_name }}
            </div>
        </div>
        {% if station.logo %}
        <div class="control-group">
            <div class="control-label">{{ _('Logo') }}</div>
            <div class="controls">
                <img src="{{ station.logo.get_absolute_url('station_logo') }}" alt="logo"/>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="span6">
        {{ station | object_details(
            ('', ['address', 'postal_code', 'city', 'country', 'email', 'phone', 'fax', 'www'])
        )}}
    </div>
</div>
<h3>
    {{ _('Transmitters') }}
    <a class="transmitter-add with-icon" href="{{ reverse('admin:station-transmitter-type-select', args=[station.pk]) }}"><i class="icon-plus-sign"></i>{{ _('Add') }}</a>
</h3>
<div class="row">
    <div class="span12">
    {% if station.transmitters.count() > 0 %}
    {% set transmitters_sorting=get_sorting(station.transmitters.all(), request, ['location__location'], ['location__location']) %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ transmitters_sorting.anchor('location__location', _('location')) }}</th>
                    <th>{{ _('type') }}</th>
                    <th>{{ _('region') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for transmitter in transmitters_sorting.sort() %}
                    {% with transmitter=transmitter.get_subtype_instance() %}
                <tr>
                    <td class="first">
                        <a href="{{ reverse('admin:transmitter-details', args=[transmitter.pk]) }}">{{ transmitter }}</a>
                    </td>
                    <td>
                        <span class="transmitter-location">{{ transmitter.location.location }}</span>
                    </td>
                    <td>{{ transmitter.broadcast_type }}</td>
                    <td>
                        {% if transmitter.location.region %}
                        {{ transmitter.location.get_region_display() }}
                        {% else %}
                        {{ empty_label() }}
                        {% endif %}
                    </td>
                    <td class="last">
                        <a class="transmitter-edit with-icon" href="{{ reverse('admin:station-transmitter-edit', args=[station.pk, transmitter.pk]) }}"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
                        <a class="transmitter-delete with-icon" href="{{ reverse('admin:station-transmitter-delete', args=[station.pk, transmitter.pk]) }}"><i class="icon-remove-sign"></i>{{ _('Delete') }}</a>
                    </td>
                </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-items">
            {{ _('This station has no transmitters.') }}
        </p>
    {% endif %}
    </div>
</div>
<h3>
    {{ _('Streams') }}
    <a class="stream-add with-icon" href="{{ reverse('admin:stream-add', args=[station.pk]) }}"><i class="icon-plus-sign"></i>{{ _('Add') }}</a>
</h3>
<div class="row">
    <div class="span12">
    {% if streams %}
        <table class="table table-striped" summary="images">
            <thead>
                <tr>
                    <th class="first span4">{{ _('url') }}</th>
                    <th class="span1">{{ _('active') }}</th>
                    <th class="span1">{{ _('bitrate') }}</th>
                    <th class="span1">{{ _('codec') }}</th>
                    <th>{{ _('streamer') }}</th>
                    <th class="span1">{{ _('browser playable') }}</th>
                    <th>{{ _('listen') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for stream in streams %}
            {% with stream=stream.get_subtype_instance() %}
                <tr>
                    <td class="first">{{ stream.url }}</td>
                    <td>{% if stream.active %}<i class="icon-ok-sign"></i>{% else %}<i class="icon-minus-sign"></i>{% endif %}</td>
                    <td>{{ stream.bitrate }}</td>
                    <td>{% if stream.codec %}{{ stream.codec }}{% else %}{{ empty_label() }}{% endif %}</td>
                    <td>{% if stream.streamer %}{{ stream.streamer }}{% else %}{{ empty_label() }}{% endif %}</td>
                    <td>{% if stream.browser_playable %}<i class="icon-ok-sign"></i>{% else %}<i class="icon-minus-sign"></i>{% endif %}</td>
                    <td><a class="span2 inline-playable sm2_link" href="{{ stream.get_stream_url() }}" type="audio/{{ stream.codec }}">{{ stream }}</a> </td>
                    <td class="last">
                        <a class="edit with-icon" href="{{ reverse('admin:stream-edit', args=[station.pk, stream.pk]) }}"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
                        <a class="delete with-icon" href="{{ reverse('admin:stream-delete', args=[station.pk, stream.pk]) }}"><i class="icon-remove-sign"></i>{{ _('Delete') }}</a>
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="no-items">
            {{ _('Station has no stream') }}
        </p>
    {% endif %}
    </div>
</div>

<h3>
    {{ _('Images') }}
    <a class="image-add with-icon" href="{{ reverse('admin:station-image-add', args=[station.pk]) }}"><i class="icon-plus-sign"></i>{{ _('Add') }}</a>
</h3>
<div class="row">
    <div class="span12">
    {% if station.images.count() > 0 %}
        <table class="table table-striped" summary="images">
            <thead>
                <tr>
                    <th class="first span2">{{ _('thumbnail') }}</th>
                    <th class="span8">{{ _('path') }}</th>
                    <th>{{ _('logo') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for image in station.images.all() %}
                <tr>
                    <td class="first span2"><img src="{{ image.get_absolute_url('station_image_admin') }}" alt="station-image-{{ loop.counter }}"/></td>
                    <td class="span8">{{ image | image.path }}</td>
                    <td>
            {% if station.logo == image %}
                        <i class="icon-ok-sign"></i>
            {% else %}
                        <i class="icon-minus-sign"></i>
            {% endif %}
                    </td>
                    <td class="last">
                        <a class="edit" href="{{ reverse('admin:station-image-edit', args=[station.pk, image.pk]) }}"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
                        <a class="delete" href="{{ reverse('admin:station-image-delete', args=[station.pk, image.pk]) }}"><i class="icon-remove-sign"></i>{{ _('Delete') }}</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-items">
            {{ _('This station has no images') }}
        </p>
    {% endif %}
    </div>
</div>
{% endblock %}