{% extends "admin/stations/base.html" %}
{% from "bootstrap/macros.html" import form_actions, non_field_errors %}

{% block breadcrumbs %}
<a href="{{ reverse('admin') }}" class="with-icon">{{ _('Dashboard') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ reverse('admin:station-details', args=[station.pk]) }}" class="with-icon">{{ _('Station details') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Edit station image') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Edit station image') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post" enctype="multipart/form-data">
    {{ csrftoken() }}
    {{ form | bootstrap.form() }}
    {{ form_actions(cancel_url=cancel_url) }}
</form>
{% endblock %}