{% extends "admin/stations/base.html" %}
{% from "bootstrap/macros.html" import form_actions %}

{% block breadcrumbs %}
<a href="{{ reverse('admin:station-index') }}" class="with-icon">{{ _('Stations') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ reverse('admin:station-details', args=[station.pk]) }}" class="with-icon">{{ _('Station details') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Select transmitter type') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Select transmitter type') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ form | bootstrap.form() }}
    {{ form_actions(label=_('Next'), cancel_url=cancel_url) }}
</form>
{% endblock %}