{% extends "error_base.html" %}

{% block body_class %}{{ super() }} server-error{% endblock %}

{% block body %}
<div class="container" id="content">
    <h1><i class="icon-exclamation-sign"></i> 403</h1>
    <div class="span6 offset3">
        <p>Niestety nie masz prawa do przeglądania tej strony.</p>
    {% if content %}
        <p>{{ content }}</p>
    {% endif %}
        <p>
            Przepraszamy za niedogodności,<br />
            ekpia nadaje.com
        </p>
    </div>
</div>
{% endblock %}