{% extends "error_base.html" %}

{% block body_class %}{{ super() }} server-error{% endblock %}

{% block body %}
<div class="container" id="content">
    <h1><i class="icon-frown"></i> 404</h1>
    <div class="span6 offset3">
        <p>Strona którą próbujesz wyświetlić już nie istnieje.</p>
        <p>
            Przepraszamy za niedogodności,<br />
            ekpia nadaje.com
        </p>
    </div>
</div>
{% endblock %}
