{% extends "error_base.html" %}

{% block body_class %}{{ super() }} server-error{% endblock %}

{% block body %}
<div class="container" id="content">
    <h1><i class="icon-exclamation-sign"></i> 500</h1>
    <div class="span6 offset3">
        <p>Wystąpił błąd serwera. Administratorzy zostali poinformowani o błędzie i wkrótce zostanie naprawiony.</p>
        <p>
            Przepraszamy za niedogodności,<br />
            ekpia nadaje.com
        </p>
    </div>
</div>
{% endblock %}
