{% extends 'base.html' %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="block-header">
    <h3>{{ _('Advertise in nadaje.com') }}</h3>
</div>
<div class="column-block-content">
    <div class="content">
		<p>Reklama w projektach internetowych grupy Nadaje.com pozwala na dotarcie do przeszło 350 000 unikalnych użytkowników każdego miesiąca przy możliwym zasięgu przekraczającym 1,5 mln odsłon reklamy.</p>
		<p>
			W celu zamawiania reklamy na witrynach Nadaje.com oraz Radio.nadaje.com prosimy o kontakt z Biurem Reklamy Nadaje.com <br>
			email <a class="pink-link" href="mailto:reklama@nadaje.com">reklama@nadaje.com</a><br>
			tel. +48 508 414 494<br>
			50-062 Wrocław, pl. Solny 15<br>
		</p>
		<p>
			W celu zamawiania reklamy w witrynie portalmedialny.pl prosimy o kontakt z Biurem Reklamy i Promocji <br>
			email: <a class="pink-link" href="mailto:reklama@portalmedialny.pl">reklama@portalmedialny.pl</a><br>
			tel. 506 516 444<br>
			30-530 Kraków, ul. Krakusa 15/2a<br>
		</p>

        <p>Portal Nadaje.com należy do sieci reklamowej firmy IDMnet</p>

        <p>W sprawie zamawiania kampanii bannerowych prosimy o kontakt z:	</p>
        <p>
            Internetowy Dom Mediowy net Sp. z o.o. <br>
            ul. Jubilerska 10,<br>
            04-190 Warszawa<br>
            fax: +48 (0)22 829 65 56<br>
            fax: +48 (0)22 829 65 74<br>
        </p>
        <p>
            Klienci bezpośredni:<br>
            sprzedaz@idmnet.pl<br>
            tel. 22 211 33 70<br>
        </p>
        <p>
            Dział Sprzedaży Agencyjnej, obsługa domów mediowych i agencji reklamowych:<br>
            agencje@idmnet.pl<br>
            tel. 22 211 33 88<br>
        </p>
	</div>
</div>
{% endblock %}