{% extends 'base.html' %}
{% from 'bootstrap/macros.html' import form_actions %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="block-header">
    <h3>{{ _('Contact') }}</h3>
</div>
<div class="column-block-content">
    <div class="content">
        <form class="form-horizontal wide" method="post" autocomplete="off">
            {{ csrftoken() }}
            {{ form | bootstrap.form() }}
            {{ form_actions(label=_('Send message')) }}
        </form>
    </div>
</div>
{% endblock %}