<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Nadaje.com{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fontello.css">
    {% if DEBUG %}
        <link rel="stylesheet/less" href="{{ STATIC_URL }}less/style.less" type="text/css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less-1.3.0.min.js"></script>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% endblock %}
</body>
</html>