{% extends 'base.html' %}

{% set active_page='home' %}

{% block meta_description %}
Radio internetowe, Wszystkie polskie stacje radiowe przez internet. Polskie radiostacje na żywo w internecie! Radiowa Mapa Polski - częstotliwości stacji radiowych. Serwery shoutcast dla stacji radiowych. Największy katalog stacji internetowych. Radio internetowe - informacje o rozgłośniach
{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    require(['jquery', 'utils', 'settings', 'searchBox'], function($, utils, settings) {
        $('form#search-form').searchBox();
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span8">
        <div class="hero-unit search visible-desktop visible-tablet hidden-phone">
            <form action="{{ reverse('station-search') }}" method="get" id="search-form">
                {{ search_form | bootstrap.form() }}
                <div id="search-results">
                </div>
            </form>
            <ul class="genres">
    {% for genre in search_genres %}
                <li><a href="{{ reverse('radio-stations:station-genre-index', args=[genre.pk]) }}"><span class="label label-genre">{{ genre }}</span></a></li>
    {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span8 visible-phone hidden-tablet hidden-desktop">
        <div class="block-header">
            <h3>{{ _('Favourite stations') }}</h3>
        </div>
    {% if request.user %}
        <p class="content">
            {{ _('Logged as %(user)s') | format(user=request.user) }}
            <a class="with-icon pull-right" href="{{ reverse('user-logout') }}?{{ urlencode({'next': request.get_full_path()}) }}"><i class="icon-share"></i>{{ _('Logout') }}</a>
        </p>
    {% endif %}
        <div class="column-block-content">
    {% if request.user %}
        {% with profile=request.user.profile %}
            {{ fav_stations_list(profile.stations.all()) }}
        {% endwith %}
    {% else %}
            <div class="content">
                <p>
                    <a href="{{ reverse('user-login') }}?{{ urlencode({'next': request.get_full_path()}) }}">{{ _('Log in') }}</a> {{ _('to view your favourite stations') }}
                </p>
                <p><a href="{{ reverse('user-signup') }}">{{ _('Create account') }}</a> {{ _('to save your favourite stations')  }}</p>
            </div>
    {% endif %}
        </div>
    </div>
    <div class="span8">
        <div class="block-header">
            <h3>{{ _('Most popular stations') }}</h3>
        </div>
    {% if recommended %}
        <div id="recommended" class="column-block-content">
            {{ stations_list(recommended) }}
        </div>
    {% else %}
        <p class="no-items">
            {{ _('There are no recommended station yet.') }}
        </p>
    {% endif %}
    </div>
</div>
{% endblock %}