{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/inlineplayer.css" />
{% endblock %}

{% block breadcrumbs %}
<li class="active">{{ _('How to listen') }}</li>
{% endblock %}

{% block content %}
<div class="block-header">
    <h3>{{ _('How to listen') }}</h3>
</div>
<div class="column-block-content">
    <div class="content">
		<h3>Jak słuchać radia przez internet?</h3>

        <p>
            Portal Nadaje.com zaprojektowany został w taki sposób, aby ułatwić użytkownikom wyszukanie
            interesujących ich stacji radiowych i umożliwić słuchanie bezpośrednio w przeglądarce internetowej.
            Dodatkowo portal umożliwia zbieranie ulubionych stacji po zalogowaniu.
        </p>
        <p>
            Odtwarzanie wybranej stacji uruchomi się po kliknięciu w przycisk PLAY
            <a class="inline-playable sm2_link" href="#">MP3 128 kbps</a>
            na stronie wybranej stacji. Przy każdej stacji jest zazwyczaj wymienionych kilka różnych strumieni
            stacji nadawanych z różną jakością lub za pomocą różnych kodeków dźwięku.
            Odtwarzanie powinno rozpocząć się po krótkiej chwili, a player można
            uruchomić również w osobnym oknie. Jeśli odtwarzanie w przeglądarce
            internetowej nie funkcjonuje na Twoim urządzeniu, wówczas należy
            kliknąć w przycisk (.m3u) za pomocą którego uruchomiony zostanie
            zewnętrzny player.
        </p>
        <p>
            Słuchanie w przeglądarce w portalu Nadaje.com jest możliwe tylko dla strumieni MP3 oraz OGG.  
            Dla pozostałych kodeków, czyli WMA (Windows Media Audio) oraz AAC+ nie ma możliwości
            odtwarzania stacji na stronie Nadaje.com i należy użyć do tego zewnętrzny player. W takiej sytuacji na
            przycisku pojawia się napis „player systemowy”. Klikniecie takiego przycisku powoduje pobranie
            playlisty .m3u, za pomocą której można uruchomić słuchanie radia na dowolnym urządzeniu
            odbiorczym.
        </p>
        <p>
            <strong>Player systemowy</strong> to dowolny odtwarzacz jaki mogą Państwo zainstalować w swoim systemie
            operacyjnym. Przykładowo w systemie Windows domyślnym odtwarzaczem dla plików typu .m3u
            będzie Windows Media Player, jednak zalecamy instalację również innych odtwarzaczy:
        </p>
        <hr/>
        <h3>
            Polecane odtwarzacze dla komputerów stacjonarnych:
        </h3>
        <ul>
            <li>
                VLC (Windows, Linux, MacOSX, Android) <a href="http://www.videolan.org/" target="_blank">http://www.videolan.org/</a>
            </li>
            <li>
                Foobar2000 (Windows) <a href="http://www.foobar2000.org/" target="_blank">http://www.foobar2000.org/</a>
            </li>
            <li>
                Winamp (Windows, MacOSX)
            </li>
        </ul>
        <h3>
            Polecane odtwarzacze dla urządzeń mobilnych z systemem Android:
        </h3>
        <ul>
            <li>
                XiaaLive <a href="https://play.google.com/store/apps/details?id=com.android.DroidLiveLite" target="_blank">https://play.google.com/store/apps/details?id=com.android.DroidLiveLite</a>
            </li>
            <li>
                VLC <a href="https://play.google.com/store/apps/details?id=org.videolan.vlc.betav7neon" target="_blank">https://play.google.com/store/apps/details?id=org.videolan.vlc.betav7neon</a>
            </li>
        </ul>

        <h3>
            Polecane odtwarzacze dla urządzeń mobilnych z systemem IOS:
        </h3>
        <ul>
            <li>
                VLC <a href="https://itunes.apple.com/pl/app/vlc­for­ios/id650377962?mt=8" target="_blank">https://itunes.apple.com/pl/app/vlc­for­ios/id650377962?mt=8</a>
            </li>
        </ul>

        <h3>Wybór właściwego strumienia.</h3>
        <p>
            Strumienie nadawane w MP3 oraz OGG powinny być odbierane w większości nowych przeglądarek
            za pomocą odtwarzacza na naszej witrynie. Redakcja serwisu poleca przeglądarki Firefox oraz
            Chrome jako w pełni kompatybilne z serwisem w systemach Windows oraz Linux, Android, OSX,
            umożliwiające odtwarzanie strumieni MP3 oraz OGG.
        </p>
        <p>
            Jeśli radio udostępnia wiele strumieni, to wybór kodeka należy do odbiorcy.  Kodek to sposób w
            uproszczeniu „sposób” w jakim zostały skompresowane dane, więc różne kodeki dają nieco inną
            jakość dźwięku z mniejszą lub większą kompresją. W internetowych transmisjach audio używane są
            najczęściej: MP3, AAC+ (HEAAC), OGG Vorbis, Windows Media, Real Audio. Taki podział strumieni
            jest wprowadzony obecnie w naszym portalu.
        </p>
        <p>
            Najlepszą kompresją przy zachowaniu dobrej jakości dźwięku przy niskim bitrate (32­64 kbps)
            charakteryzują się kodeki AAC+ oraz OGG. Z tego powodu na urządzeniach mobilnych i łączach
            internetu bezprzewodowego EDGE lub 3G zalecamy słuchanie radia za pomocą tych kodeków.  Na
            łączach LTE i wszelkich łączach stacjonarnych (w tym WiFi) nie powinno być problemów z odbiorem w
            bitrate wynoszącym 128 kbps w dowolnym kodeku dźwięku.
        </p>
        <p>
            Redakcja serwisu dba o aktualność linków do słuchania stacji, dlatego prosimy o informowanie nas o
            nie działających strumieniach i postaramy się odnaleźć aktualny link dla Twojej stacji. Kontakt z
            redakcją jest możliwy poprzez formularz kontaktowy.
        </p>
    </div>
</div>
{% endblock %}