{% extends 'base.html' %}

{% block title %}{{ _('Video/Audio Streaming Web Hosting Services  | Nadaje.com') }}{% endblock %}
{% block meta_description %}{{ _('Nadaje.com is a Leaseweb-network based streaming service provider. The company offers affordable streaming plans up to 18000 video viewers for one time event.') }}{% endblock %}
{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="block-header">
    <h3>{{ _('Services') }}</h3>
</div>
<div class="column-block-content">
    <div class="content">
        <p>
            Grupa Nadaje.com to zespół doświadczonych specjalistów w branży IT.<br/>
            Polecamy Państwa uwadze nasze usługi z zakresu streamingu internetowego audio/video.
        </p>
        <p>
            <a href="http://nadaje.com/radio-hosting/">Serwery Shoutcast i Icecast</a><br/>
            Radio stream hosting portalu Nadaje.com. Z naszych serwerów nadaje już ponad 80 stacji radiowych. Zapraszamy do zapoznania się z <a href="http://serwery.nadaje.com/" >nasza ofertą</a>.
        </p>
        <p>
            <a href="http://nadaje.com/live/">Obsługa internetowych video transmisji na żywo</a><br/>
            Oferujemy pełną obsługę transmisji video wraz z realizacją obrazu, hostingiem transmisji i udostępnieniem odtwarzacza flash na stronę internetową klienta. Nasze transmisje można odbierać na telefonach komórkowych.
        </p>
        <p>
            <a href="http://nadaje.com/video-streams/">Video stream hosting</a><br/>
            Oferta hostingu strumieni video dla telewizji internetowych.
        </p>
        <p>

            Informacje i zamawianie usług pod numerem telefonu:<br/>
            +48 508 414 494<br/>
            pon. - pt w godz 10:00 - 18:00<br/>
        </p>
        <p>
            Zapytaj o nasze usługi. <a href="{{ reverse('contact') }}">Wypełnij formularz kontaktowy</a><br/>
            email: serwery@nadaje.com<br>
        </p>
    </div>
</div>
{% endblock %}
