{% extends 'admin/logs/base.html' %}
{% from 'bootstrap/macros.html' import detail %}
{% from 'admin/macros.html' import empty_label %}

{% block body_class %}{{ super() }} actions{% endblock %}
{% block content %}

{% set actions_sorting = get_sorting(actions, request, ['created', 'station__name'], ['-created']) %}
{% set actions_pagination = get_pagination(actions_sorting.sort(), request, paginate_by=20, results_limit=200)%}
<div id="actions-container">
{% if actions.exists() %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="first">{{ actions_sorting.anchor('created', _('created at')) }}</th>
                <th>{{ _('station') }}</th>
                <th>{{ _('description diff') }}</th>
            </tr>
        </thead>
        <tbody>
    {% for action in actions_pagination.paginate() %}
        {% with action=action.get_subtype_instance() %}
            <tr>
                <td class="first">
                    <div class="label-container">
                        <span class="label {{ action|admin.action2label }} action-info">
                {% if action.user %}
                            <i class="icon-user icon-white icon-large"></i>
                            {{ action.user }}
                {% else %}
                            <i class="icon-laptop icon-large"></i>
                {% endif %}
                            <i class="action {{ action|admin.action2icon }} icon-large"></i>
                        </span>
                        <span class="label date">{{ action.created|datetime }}</span>
                    </div>
                </td>
                <td>
                {% if action.station %}
                    <a href="{{ reverse('admin:station-details', args=[action.station.pk]) }}">{{ action.station }}</a>
                {% else %}
                    {{ empty_label() }}
                {% endif %}
                </td>
                <td class="action-message">
                    {{ action.diff|admin.description_diff() }}
                </td>
            </tr>
        {% endwith %}
    {% endfor %}
        </tbody>
    </table>
    {{ actions_pagination.pagination() }}
    {% else %}
    <p class="no-items">
        {{ _('No actions found') }}
    </p>
{% endif %}
</div>
{% endblock %}
