<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
{% if DEBUG %}
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/admin.less" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less-1.3.0.min.js"></script>
{% else %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
{% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/require-jquery.js"></script>
    <script type="text/javascript">
        var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}';
        require.config({
            baseUrl: '{{ STATIC_URL }}js/',
            paths: {
                jquery: 'lib/jquery-1.9.1.min',
                async: 'lib/async',
                font: 'lib/font',
                goog: 'lib/goog',
                image: 'lib/image',
                json: 'lib/json',
                noext: 'lib/noext',
                mdown: 'lib/mdown',
                propertyParser : 'lib/propertyParser',
                markdownConverter : 'lib/Markdown.Converter'
            },
            shim: {
                'lib/jquery.ui.widget': ['jquery'],
                'lib/jquery.form': ['jquery'],
                'lib/bootstrap': ['jquery'],
                'lib/jquery.blockUI': ['jquery'],
                'lib/bootstrap.datetpicker': ['jquery']
            },
            waitSeconds: 15
        });
        require(['lib/bootstrap']);
    </script>
    {% block extra_head %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-675103-1', 'nadaje.com');
      ga('send', 'pageview');
    </script>
</head>
<body class="{% block body_class %}admin{% endblock %}">
{% block body %}
    <div class="body">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav pull-right">
                        <li><a href="{{ reverse('user-logout') }}" class="with-icon"><i class="icon-signout icon-white"></i> {{ _('Logout') }}</a></li>
                    </ul>
                    <div class="breadcrumbs">
    {% block breadcrumbs %}
    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="content">
                <div class="row">
                    <div class="span12">
                        <ul class="nav nav-tabs" id="tab-menu">
                            {% if request.user.is_admin or request.user.stations_management %}
                            <li {% if active_tab=='stations'%}class="active"{% endif %}>
                                <a href="{{ reverse('admin:station-index') }}">{{ _('Stations') }}</a>
                            </li>
                            {% endif %}
                            {% if request.user.is_admin or request.user.transmitters_management %}
                            <li {% if active_tab=='transmitters'%}class="active"{% endif %}>
                                <a href="{{ reverse('admin:transmitter-index') }}">{{ _('Transmitters') }}</a>
                            </li>
                            {% endif %}
                            {% if request.user.is_admin or request.user.transmitters_management %}
                            <li {% if active_tab=='cities'%}class="active"{% endif %}>
                                <a href="{{ reverse('admin:transmitter-city-index') }}">{{ _('Cities') }}</a>
                            </li>
                            {% endif %}
                            {% if request.user.is_admin %}
                            <li {% if active_tab=='users'%}class="active"{% endif %}>
                                <a href="{{ reverse('admin:user-index') }}">{{ _('Users') }}</a>
                            </li>
                            <li {% if active_tab=='google_ads'%}class="active"{% endif %}>
                                <a href="{{ reverse('admin:google-ads') }}">{{ _('Google ads') }}</a>
                            </li>
                            <li {% if active_tab=='actions'%}class="active"{% endif %}>
                                <a href="{{ reverse('admin:action-index') }}">{{ _('Actions') }}</a>
                            </li>
                            {% endif %}
    {% block extra_tabs %}
    {% endblock %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 content">
    {% block content %}
    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>