{% extends 'admin/base.html' %}
{% from 'bootstrap/macros.html' import detail, form_actions %}
{% set active_tab='google_ads' %}


{% block content %}
<h1>
    {{ _('Google ads edit') }}
</h1>
<form class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ client_id_form | bootstrap.form() }}
    {% for form in ad_forms %}
    <fieldset>
        <legend>{{ form.ad.name }}</legend>
        {{ form | bootstrap.form() }}
    </fieldset>
    {% endfor %}
    {{ form_actions(cancel_url=cancel_url) }}
</form>
{% endblock %}

