{% extends 'admin/base.html' %}
{% from 'bootstrap/macros.html' import detail %}
{% set active_tab='google_ads' %}


{% block content %}
<h1>
    {{ _('Google ads config') }}
    <a class="edit with-icon" href="{{ reverse('admin:google-ads-edit') }}"><i class="icon-edit-sign"></i>{{ _('Edit') }}</a>
</h1>
<div class="form-horizontal details">
    {{ detail(_('Client id'), google_ads_config.client_id) }}

    {% for ad in google_ads_config.ads.items() %}
        {% with ad = ad[1] %}
    <fieldset>
        <legend>{{ ad.name }}</legend>
    {{ detail(_('Slot'), ad.slot) }}
    {{ detail(_('Width'), ad.width) }}
    {{ detail(_('Height'), ad.height) }}
        {% endwith %}
    </fieldset>
    {% endfor %}

</div>
{% endblock %}

