{% from 'bootstrap/macros.html' import non_field_errors, field_errors, render_help_text %}

{% macro inline_formset(formset, label, field_names, required=false) %}
<div class="formset inline{% for field_name in field_names %} {{ field_name }}{% endfor %}">
    {{ formset.management_form|safe }}
    <div class="control-group ">
        <label class="control-label">{{ label|safe }}</label>
    {% if formset.non_form_errors() %}
        <div class="controls errors">
        {{ non_field_errors(formset.non_form_errors()) }}
        </div>
    {% endif %}
    {% for form in formset.forms %}
        <div class="subform">
        {{ non_field_errors(form.non_field_errors()) }}
            <div class="controls" {% if flat_attrs %}{{ flat_attrs|safe }}{% endif %}>
                <div class="fields">
                {% for field_name in field_names %}
                    {% with field=form[field_name] %}
                <span class="field-container{% if field.errors %} error{% endif %}">{{ field|safe }}{{ field_errors(field) }}</span>
                    {% endwith %}
                {% endfor %}
                </div>
                {% for field_name in field_names %}
                    {% with field=form[field_name] %}
                {{ render_help_text(field.help_text) }}
                    {% endwith %}
                {% endfor %}
                <label class="delete">{{ form['DELETE'].label|safe }}{{ form['DELETE']|safe }}</label>
            </div>
        {% for field in form.hidden_fields() %}
            {{ field|safe }}
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}


{% macro empty_label() %}<span class="empty-label">------</span>{% endmacro %}