{% extends 'admin/streams/base.html' %}
{% from 'bootstrap/macros.html' import form_actions %}

{% block breadcrumbs %}
<a href="{{ reverse('admin') }}" class="with-icon">{{ _('Dashboard') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ reverse('admin:station-details', args=[station.pk]) }}">{{ _('Station details') }}</a>
<i class="icon-double-angle-right"></i>
<a href="{{ request.get_full_path() }}">{{ _('Delete stream') }}</a>
{% endblock %}

{% block content %}
<h1 class="modal-header">{{ _('Delete stream') }}</h1>
<form autocomplete="off" class="form-horizontal wide" method="post">
    {{ csrftoken() }}
    {{ form | bootstrap.form() }}
    {{ form_actions(cancel_url=cancel_url, delete_form=True) }}
</form>
{% endblock %}